
@media all{
    html, body {
        max-width: 100%;
        /* overflow-x: hidden; */
       
    }
    .header{

        background:url(../images/Header4.svg)no-repeat;
     
        height: 150px;
        background-size: 100% ;
        background-attachment: fixed;
        position: relative;
    
     
       
    }
    
    .header .center_wrapper{
        width: 95%;
        margin: 0 auto;
        display: flex;
        padding: 0px 0;
        flex-wrap: wrap;
    
    }
    
    .header .center_wrapper .left_part{
        display: flex;
        width: 60%;
        
    
    
    }
    .header .center_wrapper .left_part .logo img{
        max-width: 100%;
        height: auto;
        padding: 0;
        margin-top: 1%;
        padding-top: 3px;
        position: relative;
       
    }
    
    .header .center_wrapper .left_part .menu{
        padding-left: 76.99px;
        padding-top: 5%;
        
        
    }
    
    .header .center_wrapper .left_part .menu ul{
        list-style: none;
        display: flex;
        
    }
    .header .center_wrapper .left_part .menu ul li a{
    
        text-decoration: none;
        font-family:"lato";
        font-size: 18px;
        font-weight: 400;
        color:#EDF3E5;
        padding: 0 15px;
    }
    .header .center_wrapper .right_part ul li a{
    
      margin-left: -155%;
        
        
    }
    .header .center_wrapper .right_part .lg{
    
        margin-left: -55%;
          
          
      }
    
    
    .header .center_wrapper .right_part  ul{
        list-style: none;
        display: flex;
        margin-top: 8%;
        margin-left: 5%;
        font-family:"lato";
        font-size: 18px;
        
    }
    
    .header .center_wrapper .right_part{
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: flex-end;
        margin-left: -2%;
        /* margin-top: -2%; */
        
    
    }
    .right_part .login{
        margin-left:-5%;
    }
    .header .center_wrapper .right_part a{
        padding: 0 0 0 20px;
        text-decoration: none;
        font-family:"lato";
        font-size: 18px;
        font-weight: 400;
        color: #EDF3E5;
    }
    
    .header .center_wrapper .right_part .profile_icon{
        /* align-items: center; */
       margin-left: -10%;
        width: fit-content;
        display: flex;
        text-align: center;
        margin-top: -13%;
        
    
    }
    
    .header .center_wrapper .right_part .profile_icon .user_details{
        justify-content: center;
        display:block;
    }
    
    
    .header .center_wrapper .right_part .profile_icon a p{
    
        text-decoration: none;
        font-family:"lato";
        font-size: 10px;
        font-weight: 200;
        color: #EDF3E5; 
        
    }
    
    .header .center_wrapper .right_part .profile_icon a p:hover{
        color:#323929;
    }
    
    .header .center_wrapper .right_part img{
        max-width: 35%;
        height: 35%;
        padding-top: 2px;
        align-items: center;   
        
    }
    .user_details p{
        color:#EDF3E5;
    }
    
    .header .center_wrapper .left_part .menu ul li a:hover{
        color:#323929;
    }
    
    .header .center_wrapper .right_part .language a:hover{
        color:#323929;
    }
    
    
    nav{
        position:relative;
        width:100%;
        padding-top: 0%;
        margin-top: 0%;
    
    }
    
    nav .user-pic{
        color:#EDF3E5;
        display: flex;
        font-size: 10px;
        align-items: center;
        width:fit-content;
    }
    
    .profile_icon span{
        float: right;
        margin-top: -62%;
        font-size: 15px;
        color:#EDF3E5;
    }
    
    .user_details{
        display: inline-block;
        align-items: center;
        
    }
    
    .right_part button{
        cursor: pointer;
        background: none;
        color: inherit;
        border: none;
    
    }
    
    .right_part button :hover{
        font-weight: 600;
        color: #323929;
    } 
    
footer{
    background-attachment: fixed;
    position: relative;
    margin-left: -7px;
    margin-bottom: -6px;
}
 .home_body{
    padding-left: 180px;
    margin-top: -38%;
    margin-left: 5%;
 }

 .loggedhome_body{
min-height: 50vh;
min-width: 20vh;
   
 }
 
  .home_body xul {
    list-style: none;
    display: flex;
    padding: 35px 65px;
 
 } 

 .home_body xul li {
    padding: 0 25px;
}
.home_text{
    padding-left: 300px;
    margin-top: -15px;
    margin-left: -30px;
}
.home_text xul {
    list-style: none;
    display: flex;
    
 
 }

 .home_text xul li {
    padding: 0 50px 0  ;
}

Button{
    margin-left:5px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   border-color:rgba(228, 228, 228, 0.564) ;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
}

/* 
body{
    background-color: rgb(255, 255, 255);
   
} */


form{
    background: rgba(128, 156, 91, 0.578);
    font-family: 'Lato';
    margin-left: 32%;
    margin-right: 33%;
    padding-left: 5%;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    color: rgb(0, 0, 0);
   
   
}

input[type= text] , input[type= password],input[type= email]{
  width: 90%;
  display:inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius:40px ;
  -webkit-border-radius:40px ;
  -moz-border-radius:40px ;
  -ms-border-radius:40px ;
  -o-border-radius:40px ;
}


input[type  = month]{
    width: 35%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ;
}
/* 
input[type= search]{
    width: 80%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:40px ;
}

input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 50%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
} */



h1{
    align-items: center;
    padding-left: 30%;
   margin-top: 8%;
}


a{
  color: rgb(34, 63, 36);
  text-decoration:none;
}



.card{
    position: relative;
    top: 150px;
    width: 350px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
.card .card-body{

    margin-bottom: 20px;
   
  }
  
 
  .container{
    margin-top: 18px;
    position: relative;
    width: 20%;
  }

  .container .btn {
    position:absolute;
    margin-top: 120px;
    margin-left: 20px;
  }
/* 
  .input-icons{
    width: 40%;
    margin-bottom: 8px;
    margin-top: 15px;
  }
.input-icons .input-field{
 
        width: 38%;
        padding: 8px;
        text-align: center;
      
        color:#000000 ;
        font-style: lato;
        padding-left: 5px;
       
    
} */
.search{
    background: white;
    padding-top: 0%;
     padding-left: 0%;
    display: flex;
    width: 60%;

 }

 .input-icons i{
 
    position: absolute;
    padding-top: 1%;
    padding-left:1% ;
    color:#000000;
   

}

  .search_button{
    width: 60px;
    height: 42px;
    background-color: #d0d0d0;
    border-radius: 50px;
    margin: 8px 0;
    margin-left: -50px;
    margin-top: 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/* 
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 45px;
   
    } */
/* 
.grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    padding-bottom: 15px;
  

    } */


h3{
    margin-top: 2%;
     margin-left: 30%;
     margin-bottom:5% ;
}

h2{
    margin-left : 10%; 
}

.cards{

    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    margin-top: 5%;
    text-align: left;
    font-family: arial;
    margin-left: 10%;
    padding-bottom: 2%;
    text-align: center;
    background-color:#EBEBEB;

  }

.update {
   width: 50px;
   background-color: #33ca93;
}

.containerr{
    height: 80%;
    width: 15%;
    display: flex;
    padding-top: 150px;
}




.containerr .left_menu_bar{
    flex:1.5;
    background: #8f918b29;
    display: block;
    border-radius:10px;
    height: 350px;
    width: 10%;
    box-shadow: var(--box-shadow);
    margin-top: 1%;
    margin-left: 1%;

    
    
}

.containerr .left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.containerr .left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.containerr .left_menu_bar h3{
    color:rgb(0, 0, 0);
    margin-left: 0px;
    padding-left:0px;
   
}



.containerr .left_menu_bar #menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}


.containerr .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}
}

.top{
    
    margin-top: -45%;
}

td{
    width: 300px;
    text-align: left;
}