  *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;

  }

  body{
    color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;


    

  }

  .container{

  position: center;
   max-width: 700;
   width: 100%;
   margin: 25%;
   
   margin-left: 30%;
   margin-right: 35%;
   padding-left: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
   

    padding: 25px 30px;
    
    background: #809D5B;
    border-radius: 50px;
    
  }

  .container .heading{

    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
  }

  .container form .postd{
    margin-top: 25px ;
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;

  }

  form .postd .card-box{
    width: calc(100%2 - 20px);
    margin-bottom: 15px;
  }

  .postd .card-box .details{
  
    font-weight: 500;
    margin-bottom: 5px;
    display: inline;

  }
  .postd .card-box {

    height: 40px ;
    width: 50%;
    outline:  none;
    border-radius: 5px;
    
    
    
  }

  .button{
background-color: #3e6110;
display: flex;
justify-content: center;
align-items: center;
border-radius: 25px;

font-family: 'Lato';
font-style: normal;

color: white;
border: 0;

  
  color: white;
  


    
  }




