body{
    background-color: white;
}

.border{
    color: #5A713D;
    background: red;
}
.cards{
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    text-align: left;
    font-family: arial;
    padding-left: 2%;
    padding-bottom: 5%;
    text-align: center;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  
  .cards:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card_body{
      padding: 2px 16px;
      color: #5A713D
  }
  
  .row {margin: 0 -5px;}
  
  .column {
      float: left;
      width: 25%;
      padding: 0 10px;
      display: grid ;
      justify-content: center;
      align-items: center; 
    grid-template-columns: 3fr;
    background-color: #809D5B; 
    padding: 10px;
     margin-left: 40px;
     margin-top: 60px;
     display: flex;
     justify-content: center;
     align-items: \;

   }
  
   .btn{
     background: rgba(128, 157, 91, 0.81);opacity: 0.9;
      border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     color: rgb(0, 0, 0);
     border: 0ch;
     display:inline-block;
     
  width: 100px;
  height: 30px;
  left: 900px;
  top: 1800px;
  margin-top: 5%;
  }
  
  header{
      box-sizing: border-box;
      position: absolute;
      width: 1550px;
      height: 100.83px;
      left: -14px;
      top: -3.99px;
      background: #5A713D;
      border: 1px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform: rotate(-0.15deg);
      -webkit-transform: rotate(-0.15deg);
      -moz-transform: rotate(-0.15deg);
      -ms-transform: rotate(-0.15deg);
      -o-transform: rotate(-0.15deg);
      
      text-align: center;
  }
  
  h3{
      padding-top: 5%;
  }
  
  .footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:  #5A713D;
      color: white;
      text-align: right;
      height: 100.83px;
   }   
  
   .btn_1{
      width: 100px;
  height: 30px;
  left: 900px;
  top: 1800px;
  margin-top: 2%;
  border-radius: 50px;
  margin-left: 68%;
   }