*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    
   
}

footer{
    text-align: center;
    height: 110px;
    width: 100%;
    display: block;
    padding-top: 0px;
    bottom: 0%;
    
}

footer li{
    list-style: none;
    display :inline-block;
    padding: 5px 15px 0px 10px;
}


footer p{
    color: #FCFEF9;
    font-size: smaller;
    padding-top: 0px;
}


footer ul{
    width: 100%;
    height: 50px;
    padding-top: 40px;
}

footer .footer-copyright{
    width: 100%;
    padding-top: 0%;
    margin-top: 0%;
}

.role_name{
    color:rgba(67, 86, 43);
    display:flex;
    margin-top: 10px;

}

.role_name .left {
    flex:8;
    margin:0px;
    padding-left: 260px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: calc(100%-100px);
    text-transform:capitalize;
    font-size: 17px;
}



h1{
    margin:0px;

}

.body{

  margin: 0% 1%; 
  height: 60%; 
}

.role_name .right{
    flex:1.5;
}

.instructor_wrapper{
    display: flex;
    height: 40%;
    
    
    
}

.instructor_wrapper .left_menu_bar{
    flex:1.5;
    background: rgba(206, 217, 177, 0.39);
    display: block;
    border-radius:20px;
    height: auto;
    box-shadow: var(--box-shadow);
    
}

#menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
    



}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}




.instructor_wrapper .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.instructor_wrapper .left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.instructor_wrapper .left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.instructor_wrapper .left_menu_bar h3{
    color:rgba(67, 86, 43);
    margin-left: 0px;
    padding-left:0px;
   
}


.instructor_wrapper .content{
    flex:8.5;
    height: 100%;
    padding: 10px 20px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    margin-left: 1%;
    margin-bottom: 1%;
    
    
   

}

.instructor_wrapper .content h2{
    color:rgba(67, 86, 43, 0.62);
    
}

/*.instructor_wrapper .content .container{
    height:500px;
}*/


.instructor_wrapper .content .container .container_left button{
    border:none;
    color:#FCFEF9;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #6a7162;
    border-radius: 20px;
    margin-top: 20px;
}

.instructor_wrapper .content .container .container_left button:hover{
    background: #323929;
}

.instructor_wrapper .content .container{
    display:flex;
    height:400px;
    margin:20px;

}

.instructor_wrapper .content .container .container_right{
    flex: 6.5;

    background: rgba(128, 157, 91, 0.3);
    /*overflow-y: scroll;
    height: 300px; */
    border-radius: 20px;
    margin-left: 20px;
    display: block;
    resize: both;
    overflow: auto;
    
    

}
 
.instructor_wrapper .content .container .container_right h3{
    color: #43562B;
    margin:10px 0 5px 20px;
    font-size: 17px;
    padding: 15px 3px 0px 20px;

}

.instructor_wrapper .content .container .container_right .container_button{
    float: right;
    margin-right: 20px;
    margin-top: 0;

}

.instructor_wrapper .content .container .container_right .container_button #edit {
    border:none;
    color: #43562B;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(39, 144, 75, 0.2);
    border-radius: 20px;
}

.instructor_wrapper .content .container .container_right .container_button #delete{
    border:none;
    color:#43562B;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(206, 91, 91, 0.2);
    border-radius: 20px;
}

.instructor_wrapper .content .container .container_right .container_button #edit:hover{
    background: rgba(39, 144, 75, 0.5);
}

.instructor_wrapper .content .container .container_right .container_button #delete:hover{
    background-color: rgba(206, 91, 91, 0.5);
}

.instructor_wrapper .content .container .container_right .details_container{
    text-align:left;
    margin-left: 75px;
    padding:30px 10px;
    
}

.instructor_wrapper .content .container .container_right .details_container h4{
    color:#43562B ;
}

.instructor_wrapper .content .container .container_right .details_container table tr{
    vertical-align: top;
    
}

.instructor_wrapper .content .container .container_right .details_container table th, td{
    
    padding: 5px;
    

} 


.instructor_wrapper .content .container .container_left{
    flex: 3.5;

}


.instructor_wrapper .content .container .container_left .main_card{
    
    display:block;
    background: #d4e2ac8b;
    overflow-y: scroll;
    border-radius: 20px;
    height: 300px;
    
}

.instructor_wrapper .content .container .container_left .main_card p{
    color: #FCFEF9;
    font-size: 17px;
    margin:10px 0 5px 20px;

}

.instructor_wrapper .content .container .container_left .main_card .card_left ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.instructor_wrapper .content .container .container_left .main_card .card_left ul li a{
    text-decoration: none;
    padding: 12px;
    margin: 11px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:25px;
}

.instructor_wrapper .content .container .container_left .main_card .card_left  ul li a:focus {
   background: rgba(255, 255, 255, 0.39);
   
}






/*.hide{
    display: none;
}*/

