
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    font-family:'Lato', sans-serif;
    
    
   
}

footer{
    text-align: center;
    height: 110px;
    width: 100%;
    display: block;
    padding-top: 0px;
    bottom: 0%;
    
}

footer li{
    list-style: none;
    display :inline-block;
    padding: 5px 15px 0px 10px;
}


footer p{
    color: #FCFEF9;
    font-size: smaller;
    padding-top: 0px;
}


footer ul{
    width: 100%;
    height: 50px;
    padding-top: 40px;
}

footer .footer-copyright{
    width: 100%;
    padding-top: 0%;
    margin-top: 0%;
}


.role_name  {
    margin:0px;
    padding-left: 190px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: calc(100%-100px);
    text-transform:capitalize;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.751);
    
}

.body{

  margin: 0% 1%; 
  height: 60%; 
}

.role_name .right{
    flex:1.5;
}

.instructor_wrapper{
    display: flex;
    height: 40%;
    
    
    
}

.instructor_wrapper .left_menu_bar{
    flex:1.5;
    background: #8f918b29;
    display: block;
    border-radius:20px;
    height: auto;
    box-shadow: var(--box-shadow);
    
}

#menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
    



}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}




.instructor_wrapper .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.instructor_wrapper .left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.instructor_wrapper .left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.instructor_wrapper .left_menu_bar h3{
    color:rgba(67, 86, 43);
    margin-left: 0px;
    padding-left:0px;
   
}


.instructor_wrapper .content{
    flex:8.5;
    height: 100%;
    padding: 10px 20px;
    background: #8d8f8c46;
    border-radius: 20px;
    margin-left: 1%;
    margin-bottom: 1%;
    
    
   

}

.instructor_wrapper .content h2{
    color:rgba(0, 0, 0, 0.669);
    
}

/*.instructor_wrapper .content .container{
    height:500px;
}*/


.instructor_wrapper .content .container .container_left button{
    border:none;
    color:#FCFEF9;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #43562b;
    border-radius: 20px;
    margin-top: 20px;
}

.instructor_wrapper .content .container .container_left button:hover{
    background: #323929;
}

.instructor_wrapper .content .container{
    display:flex;
    height:400px;
    margin:20px;

}

.instructor_wrapper .content .container .container_right{
    flex: 6.5;

    background: white;
    /*overflow-y: scroll;
    height: 300px; */
    border-radius: 20px;
    margin-left: 20px;
    display: block;
    resize: both;
    overflow: auto;
    box-shadow:black;
    
    

}
 
.instructor_wrapper .content .container .container_right h3{
    color: #43562B;
    margin:10px 0 5px 20px;
    font-size: 17px;
    padding: 15px 3px 0px 20px;

}

.instructor_wrapper .content .container .container_right .container_button{
    float: right;
    margin-right: 20px;
    margin-top: 0;

}

.instructor_wrapper .content .container .container_right .container_button #view {
    border:none;
    color: #314063;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(39, 58, 144, 0.425);
    border-radius: 20px;
}

.instructor_wrapper .content .container .container_right .container_button #edit {
    border:none;
    color: #43562B;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(39, 144, 76, 0.334);
    border-radius: 20px;
}

.instructor_wrapper .content .container .container_right .container_button #delete{
    border:none;
    color:#531614;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(206, 91, 91, 0.2);
    border-radius: 20px;
}

.instructor_wrapper .content .container .container_right .container_button #edit:hover{
    background: rgba(39, 144, 75, 0.5);
}

.instructor_wrapper .content .container .container_right .container_button #delete:hover{
    background-color: rgba(206, 91, 91, 0.5);
}

.instructor_wrapper .content .container .container_right .details_container{
    text-align:left;
    margin-left: 75px;
    padding:30px 10px;
    
}

.instructor_wrapper .content .container .container_right .details_container h4{
    color:#43562B ;
}

.instructor_wrapper .content .container .container_right .details_container table tr{
    vertical-align: top;
    
}

.instructor_wrapper .content .container .container_right .details_container table th, td{
    
    padding: 5px;
    

} 


.instructor_wrapper .content .container .container_left{
    flex: 3.5;

}


.instructor_wrapper .content .container .container_left .main_card{
    
    display:block;
    background:#4e4e4e75;
    overflow-y: scroll;
    border-radius: 20px;
    height: 300px;
    
}

.instructor_wrapper .content .container .container_left .main_card p{
    color: black;
    font-size: 17px;
    margin:10px 0 5px 20px;
    font-weight: 1000;

}

.instructor_wrapper .content .container .container_left .main_card .card_left ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.instructor_wrapper .content .container .container_left .main_card .card_left ul li a{
    text-decoration: none;
    padding: 12px;
    margin: 11px;
    display: block;
    color: #43562B;
    background:white;
    border-radius:25px;
}

.instructor_wrapper .content .container .container_left .main_card .card_left  ul li a:focus {
   background: rgba(255, 255, 255, 0.39);
   
}

  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }

  #id01 button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    
  }

  #id01 a{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
    color: black;
  }
  
  /* Add padding and center-align text to the container */
  #id01 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id01 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }
/*.hide{
    display: none;
}*/

