*{
    margin: 0px;/*gost margine*/
    padding:0px;
    font-family: "Poppins" ,sans-serif;
} 
.header{

    background:url(images/newheader.svg)no-repeat;
    max-width:100%;
    height: 110px;
    background-size: 100% ;
    background-attachment: fixed;
    margin:0;
    padding: 0;


}

.header .center_wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 0px 0;


}

.header .center_wrapper .left_part{
    display: flex;
    align-items: center;
    width: 70%;
    


}
.header .center_wrapper .left_part img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 2px;
}

.header .center_wrapper .left_part .menu{
    padding-left: 76.99px;
    
}

.header .center_wrapper .left_part .menu ul{
    list-style: none;
    display: flex;
    
}
.header .center_wrapper .left_part .menu ul li a{

    text-decoration: none;
    font-family:"Arial";
    font-size: 20px;
    font-weight: 400;
    color:#EDF3E5;
    padding: 0 15px;
}


body{
    
    background-size: cover;
    height: 100%;
    background-position-x: left;
}

.header .center_wrapper .right_part{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    
    

}
.header .center_wrapper .right_part a{
    padding: 0 0 0 20px;
    text-decoration: none;
    font-family:"Arial";
    font-size: 20px;
    font-weight: 400;
    color: #EDF3E5;
}

.header .center_wrapper .right_part .profile_icon{
    align-content: center;
}


.header .center_wrapper .right_part .profile_icon a p{

    text-decoration: none;
    font-family:"Arial";
    font-size: 10px;
    font-weight: 200;
    color: #EDF3E5; 
    
}

.header .center_wrapper .right_part .profile_icon a p:hover{
    color:#323929;
}

.header .center_wrapper .right_part img{
    max-width: 100%;
    height: auto;
    
    
    
    
}

.header .center_wrapper .left_part .menu ul li a:hover{
    color:#323929;
}

.header .center_wrapper .right_part .language a:hover{
    color:#323929;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap .open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #8e8f8c;
    padding : 20px;
    margin: 10px;
    border-radius: 5px;
}

.user-info{
    display : flex;
    align-items: center;
}

.user-info p{
    font-weight: 1000;
    color: #323929;
    font-size: large;

}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;

}

.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #323929;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #323929;
    margin: 0px 15px;
    text-decoration: none;

}

.sub-menu-link span{
    font-size: 22px;
    color: #323929;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}
