@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap');


body {
  
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 12px;
  }

  li{
    list-style:none;
  }

  a{
    text-decoration: none;
  }

  h1{
    font-size: 1.9rem;
  }

  p{
    font-size: 1.2rem;
  }

  .container{
    width: 96%;
    max-width:117rem;
    margin:0 auto;
  }

  .begin{
    max-width: 114rem;
    height:40vh;
    background:url(images/gardener.jpg) no-repeat center center / cover;
    
  }

  