.main_wrapper{
    display: flex;
    height: calc(100%-100px);
    margin-left: -10%;
    
}

.main_wrapper .content{
    flex:6;
    height: 100%;
    padding: 10px 20px;
 
}

.main_wrapper .content h2{
    color:rgba(67, 86, 43, 0.62);
}

.main_wrapper .content .box{
    display:flex;
    height:80%;
    margin:80px;

}

.main_wrapper .content .box .container_right{
    flex: 4.5;

    background: rgba(128, 157, 91, 0.3);
   /* overflow-y: scroll;
    height: 300px; */
    border-radius: 20px;
    margin-left: 20px;
    display: block;
    
}


.center{
    flex: 3.5;

    background: white;
   /* overflow-y: scroll;
    height: 300px; */
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    /* margin-top: 100px; */
    margin-bottom: 40px;
    display: block;
    
}
 
.main_wrapper .content .box .container_right h3{
    color: #43562B;
    margin:10px 0 5px 20px;
    font-size: 17px;
    padding: 15px 3px 0px 20px;

}

.main_wrapper .content .box .container_right .container_button{
    float: right;
    margin-right: 20px;
    margin-top: 0;

}

.main_wrapper .content .box .container_right .container_button #edit {
    border:none;
    color: #43562B;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(39, 144, 75, 0.2);
    border-radius: 20px;
}

.main_wrapper .content .box .container_right .container_button #delete{
    border:none;
    color:#43562B;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(206, 91, 91, 0.2);
    border-radius: 20px;
}

.main_wrapper .content .box .container_right .container_button #edit:hover{
    background: rgba(39, 144, 75, 0.5);
}

.main_wrapper .content .box .container_right .container_button #delete:hover{
    background-color: rgba(206, 91, 91, 0.5);
}

.main_wrapper .content .box .container_right .details_container{
    text-align:left;
    margin-left: 75px;
    padding:30px 10px;
    
}

.main_wrapper .content .box .container_right .details_container h4{
    color:#43562B ;
}

.main_wrapper .content .box .container_right .details_container table {
    table-layout: fixed; 
    /* width: 200; */
    
}

.main_wrapper .content .box .container_right .details_container table tr{
    vertical-align: top;
    
}

.main_wrapper .content .box .container_right .details_container table th, td{
    
    padding: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: left;
    width: 20%;

} 


.main_wrapper .content .box .container_left{
    flex: 4.5;

}


.main_wrapper .content .box .container_left .main_card{
    
    display:block;
    background: #809D5B;
    overflow-y: scroll;
    border-radius: 20px;
    height: 300px;
    margin-left: 150px;
    
}

.main_wrapper .content .box .container_left .main_card p{
    color: #FCFEF9;
    font-size: 17px;
    margin:10px 0 5px 20px;

}

.main_wrapper .content .box .container_left .main_card .card_left ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.main_wrapper .content .box .container_left .main_card .card_left ul li a{
    text-decoration: none;
    /* padding: 12px; */
    margin: 11px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:25px;
    width: 98%;
    width: 1200px; 
}


.main_wrapper .content .box .container_left .main_card .card_left table{
    table-layout: fixed; 
    width: 1200px;
    
}

.main_wrapper .content .box .container_left .main_card .card_left  ul li a:focus {
   background: rgba(255, 255, 255, 0.39);
   
}

a.delete {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
  }

  a.accept {
    background-color: #809D5B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
  }

input.delete
{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
}

input.accept
{
    background-color: #809D5B;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
}
  
  #tablet {
    width: 300px;
    /* height: 300px; */
    border: 1px solid black;
    display: flex;
  }
  
  #tablet space {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
  }

  /*modal CSS*/
  
  /* Add padding and center-align text to the container */
  #id01 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id01 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  /* The Modal (background) */

   /* Modal Content/Box */
   .modal-content {
    background-color: white;
    margin: 4% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
    height: 85%;
  }

  .modal-content h1{
    margin: 20px 0px;
    color: #313d22;
  }

  .modal-content h4{
    color: #43562B;
    margin-bottom: 0px;
  }


.clearfix a
{
  padding: 14px 25px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  margin-right: 8px;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 15px;
  border-radius: 10px;
}


.clearfix button
{
  padding: 14px 25px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  margin-right: 8px;
  margin-top: 10px;
  border-radius: 10px;
  
}

  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;

  }

  .clearfix{
    display: flex;
  }
  
  /* Add a color to the cancel button */
  .clearfix_delete.cancelbtn {
    background-color: #ccc;
    color: black;
   

  }

  #id01 button{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  }

  /* #id01 submit{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  } */

  #id01 a{
    padding: 14px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 30px;
    text-decoration: none;
    /* margin-left:50px; */
  }
  
  /* Add a color to the delete button */
 .deletebtn {

    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    background-color: #d5544bea;
    color: black;

  }
  
  /* Add padding and center-align text to the container_delete*/
  #id01 .container_delete {
    /* padding: 16px; */
    text-align: center;
    display: block;
  }

  #id01 .container_delete p{
    margin-top: 20px;
    margin-bottom: 5px;

  }
  
  /* The Modal (background) */
  .modal_delete {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal_content_delete {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


  /*form input*/
  input[type= text]{
    width: 90%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ;
  }


  /*id02 */

  /* Add padding and center-align text to the container */
  #id02 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id02 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #id02 button{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  }

  /* #id01 submit{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  } */

  #id02 a{
    padding: 14px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 30px;
    text-decoration: none;
    /* margin-left:50px; */
  }

  /* Add padding and center-align text to the container_delete*/
  #id02 .container_delete {
    /* padding: 16px; */
    text-align: center;
    display: block;
  }

  #id02 .container_delete p{
    margin-top: 20px;
    margin-bottom: 5px;

  }



  /*id03 */

  /* Add padding and center-align text to the container */
  #id03 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id03 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #id03 button{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  }

  /* #id01 submit{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  } */

  #id03 a{
    padding: 14px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 30px;
    text-decoration: none;
    /* margin-left:50px; */
  }

  /* Add padding and center-align text to the container_delete*/
  #id03 .container_delete {
    /* padding: 16px; */
    text-align: center;
    display: block;
  }

  #id03 .container_delete p{
    margin-top: 20px;
    margin-bottom: 5px;

  }


  /*id04 */

  /* Add padding and center-align text to the container */
  #id04 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id04 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #id04 button{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  }

  /* #id01 submit{
    padding: 23px;
    border: none;
    cursor: pointer;
    width: 78%;
    opacity: 0.9;
    margin-top: 8px;
    
  } */

  #id04 a{
    padding: 14px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 30px;
    text-decoration: none;
    /* margin-left:50px; */
  }

  /* Add padding and center-align text to the container_delete*/
  #id04 .container_delete {
    /* padding: 16px; */
    text-align: center;
    display: block;
  }

  #id04 .container_delete p{
    margin-top: 20px;
    margin-bottom: 5px;

  }