@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    font-family:'Lato', sans-serif;
    
    
   
}

/* .container{
    height: 100%;
    width: 80%;
    display: flex;
    padding-top: 5px;
} */


/* body{
    position: relative;
    margin: 0%;
    height: 100%;
    width: 100;
}

.container{
    height: 80%;
    width: 100%;
    display: flex;
    padding-top: 5px;
}


.container .left_menu_bar{
    flex:1.5;
    background: #8f918b29;
    display: block;
    border-radius:10px;
    height: auto;
    box-shadow: var(--box-shadow);
    margin-top: 1%;
    margin-left: 1%;
    
    
}

.container .left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.container .left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.container .left_menu_bar h3{
    color:rgba(67, 86, 43);
    margin-left: 0px;
    padding-left:0px;
   
}



.container .left_menu_bar #menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}


.container .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

} */

.container .profile{
    width: 80%;
    height: auto;
    background-color: rgba(239, 239, 239, 0.7);
    flex: 8.5;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding-left: 20px;
    margin-left: 15%;
    margin-right: 1%;
    border-radius: 5px;
    /* margin-top: 1%; */
    


}

.container .profile .view-wrap {
    display:flex;
    height: auto;
    margin-right: 5px;
  
}

.container .profile .profile-text{
    text-align: left;
    color: #43562B;
    margin-bottom: 10px;
}

.container .profile .view-wrap .profile-image{
    flex:2.2;
    display :block;
    width: 5%; 
    height: 250px;
    text-align:center ;
    background-color: white;
    padding-top:1%;
    border-radius: 5px;
   
   

}


.container .profile .view-wrap .view{
    flex:7.8;
    display:block;
    width: 50%;
    height: auto;
    background-color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.container .profile .view-wrap .view button{
    color: rgb(68, 71, 71);
    border-color: black;
    margin-right:0px ;
    margin-left: 30px;
    text-align: center;
    margin-top: 0.4%;
    background-color:rgba(255, 255, 255, 0.422);
    width: 20%;
    border-radius: 10px;
    height: 80%;
    
   
}

.container .profile .view-wrap .view .btn-section{
    background-color: rgba(100, 102, 99, 0.2);
    height: 30px;
    box-shadow: #FCFEF9;
    width: 100%;

}


.block{
    width:100%;
    height:90%;
}

.image img{
    border-radius: 50%;
}

 form {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    width:100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: auto;
    margin-left: 20px;

}

form .inputBox{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    width:100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: auto;

}

 form span{
    text-align: left;
    margin-top: 15px;
    font-size: 17px;
    color: #0e0e0e;
    padding-top: 5px;
    width: 50%;
    font-weight: 600;
  
    


}

input{
    width:100%;
    border-radius: 5px;
    height: 15px;
    padding: 12px 14px ;
    font-size: 13px;
    background-color: rgba(169, 172, 172, 0.251);
    border: none;
    align-self: left;
    text-align: left;
   

}
/* 
.btn{
    background-color:#43562B;
    width: 50%;
    height: 30px;
    color:whitesmoke;
    margin-top: 30px;
    border-radius: 20px;
    align-content:center;
    text-align: center;
    cursor: pointer;
} */

@media (max-width:100%){
    .block form .flex{
        flex-wrap:wrap;
        gap:0;

    }

    .block form .flex .inputBox{
        width:100%;
        
    }
}

.message{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    background: #ed9494;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 10px;
    display: flex;
    margin-top: 20px;

    

}

.message p{
    
    flex: 8;
    color: white;
  }


  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    flex:2;
  }
  
  .closebtn:hover {
    color: black;
  }

 