*{
 
  box-sizing: border-box;
}
body{
    margin: 0;
}
  header{
    background:url(../images/Header4.svg) 100%/100% no-repeat ;
   

    /* position: fixed; */
  }


  .header{
    height: 120px;
    background-size: 100% ;
    background-attachment: fixed;
    position: relative;
    margin-top: -8px;
    margin-left: -7px;
   
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

.header .center_wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 0px 0;
    flex-wrap: wrap;


}

.header .center_wrapper .left_part{
    display: flex;
    width: 60%;
    


}
.header .center_wrapper .left_part .logo img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 1%;
    padding-top: 3px;
    position: relative;
   
}

.header .center_wrapper .left_part .menu{
    padding-left: 76.99px;
   
    
    
}

.header .center_wrapper .left_part .menu ul{
    list-style: none;
    display: flex;
    
}
.header .center_wrapper .left_part .menu ul li a{

    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color:#EDF3E5;
    padding: 0 15px;
}
.header .center_wrapper .right_part ul li a{

  margin-left: -155%;
    
    
}
.header .center_wrapper .right_part .lg{

    margin-left: -55%;
      
      
  }


.header .center_wrapper .right_part  ul{
    list-style: none;
    display: flex;
    margin-top: 8%;
    margin-left: 5%;
    font-family:"lato";
    font-size: 18px;

    
}

.header .center_wrapper .right_part{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    margin-left: -2%;
    /* margin-top: -2%; */
    

}

@media screen and (max-width: 1250px) {

    header{
        background-image: none;
        background-color: #5A713D;
        height: 100px;

    }

  .logo_1  img{
        width: 60px;
        height: 60px;
        margin-top: 30%;
    }
}


@media screen and (max-width: 750px) {
   .header {
        float: none;
        display: block;
        text-align: left;
    }

     .header .center_wrapper .left_part .menu{
        padding-left: 0;
        display: none;

     }

     .left_part {
        padding-left: 0px;
      }

      .header .center_wrapper .right_part ul li a{
        font-size: 16px; 
        margin-top: 2%;
      }
      .header .center_wrapper .right_part a{
        font-size: 16px; 
      }
      .header .center_wrapper .right_part{
        margin-top: 5%;
      }
      .right_part .user_details li a  {
        flex: none;
         display: block;
        text-align: left;
        font-size: 16px;
      }
      .header .center_wrapper .right_part  .login{
        margin-left: 0%;
      }

      .menu li a{
        flex: none;
        float: none;
        display: block;
       text-align: left;

      }

header{
     flex-direction: column;
     align-items: flex-start;
}
}

.right_part .login{
    margin-left:-5%;
}
.header .center_wrapper .right_part a{
    padding: 0 0 0 20px;
    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color: #EDF3E5;
}

.header .center_wrapper .right_part .profile_icon{
    /* align-items: center; */
   margin-left: -10%;
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: -13%;

}

.header .center_wrapper .right_part .profile_icon .user_details{
    justify-content: center;
    display:block;
}

.header .center_wrapper .right_part .profile_icon a p{

    text-decoration: none;
    font-family:"lato";
    font-size: 10px;
    font-weight: 200;
    color: #EDF3E5; 
    
}

.header .center_wrapper .right_part .profile_icon a p:hover{
    color:#323929;
}

.header .center_wrapper .right_part img{
    max-width: 35%;
    height: 35%;
    padding-top: 2px;
    align-items: center;
}
.user_details p{
    color:#EDF3E5;
}

.header .center_wrapper .left_part .menu ul li a:hover{
    color:#323929;
}

.header .center_wrapper .right_part .language a:hover{
    color:#323929;
}

#subMenu{
    position: absolute;
    top: 61%;
    right: 10%;
    width: 250px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    display: none;

}
.sub-menu{
    background: #f6f7f5c1;
    padding : 20px;
    margin: 10px;
    border-radius: 5px;
}
.user_details img{
    height:30px;
}
.user-info{
    display : flex;
    align-items: center;
}

.user-info p{
    font-weight: 1000;
    color: #323929;
    font-size: 11px;
    width: 100%;

}

.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #323929;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #323929;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 10px;

}

.sub-menu-link span{
    font-size: 15px;
    color: #323929;
    transform: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

nav{
    position:relative;
    width:100%;
    padding-top: 0%;
    margin-top: 0%;

}

nav .user-pic{
    color:#EDF3E5;
    display: flex;
    font-size: 10px;
    align-items: center;
    width:fit-content;
}

.profile_icon span{
    float: right;
    margin-top: -62%;
    /* line-height: 35px; */
    font-size: 15px;
    color:#EDF3E5;
}

.user_details{
    display: inline-block;
    align-items: center;

}

.right_part button{
    cursor: pointer;
    background: none;
	color: inherit;
	border: none;

}

.right_part button :hover{
    font-weight: 600;
    color: #323929;
}



  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .con {
    border-radius: 5px;
    background-color: #dd4949;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .roww:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 700px) {
    .home_body ul {
     display: block;
     margin-left: -25%;
     margin-top: auto;
    }
    .shopping {
      margin-left: 50%;

    }
    .shopping button {
      margin-top: 5%;

    }


  }

  @media screen and (max-width: 800px) {
    .home_body ul {
     display: block;
     margin-left: -25%;
    }
    .shopping {
      margin-left: 50%;

    }
    .shopping button {
      margin-top: 5%;

    }

    
  }

  @media screen and (max-width: 1200px) {
   .count{
    display: none;
   }
    
  }
  @media screen and (max-width: 650px) {
    .location_body form{
     margin-top: 5%;
     margin-left: 28%;
    }
     
   }
   @media screen and (max-width:700px) {
    .backk{
     margin-left: 15%;
    }
     
   }
 

  .complete form{
    width:90%;
    margin-left: 1%;
    background-color:transparent;
    padding-bottom: 2%;
  
  }

.complete button{
  background-color: #33ca93;
  color: #EDF3E5;
}

.completed  button{
  background: #e27157;
  color: #EDF3E5;
}

.Back_del input[type = submit]{
  
  width:30%;
 

}
.Back_del{
  margin-left: -8%;
width:20%;
  padding-bottom: 5%;
}
.complete_boby{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:800px){ 
  .complete  {
  
   overflow-x: auto;
  }
  .Back_del{
  
 width:30%;
  
 }
 .Back_del input[type = submit]{
   
   width:60%;
  
 
 }
 }
 
 