
body{
    background-color: #eff2f21d
}

.header{

    height: 120px;
    background-size: 100% ;
    background-attachment: fixed;
    position: relative;
    margin-top: -8px;
    margin-left: -7px;

}



.header .center_wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 0px 0;
    flex-wrap: wrap;


}

.header .center_wrapper .left_part{
    display: flex;
    width: 60%;
    


}
.header .center_wrapper .left_part .logo img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 1%;
    padding-top: 3px;
    position: relative;

}

.header .center_wrapper .left_part .menu{
    padding-left: 76.99px;
    margin-top: 2%;

}

.header .center_wrapper .left_part .menu ul{
    list-style: none;
    display: flex;
}
.header .center_wrapper .left_part .menu ul li a{

    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color:#EDF3E5;
    padding: 0 15px;
}
.header .center_wrapper .right_part ul li a{

  margin-left: -155%;
    
    
}
.header .center_wrapper .right_part .lg{

    margin-left: -55%;
      
      
  }


.header .center_wrapper .right_part  ul{
    list-style: none;
    display: flex;
    margin-top: 8%;
    margin-left: 5%;
    font-family:"lato";
    font-size: 18px;
    
}

.header .center_wrapper .right_part{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    margin-left: -2%;
    /* margin-top: -2%; */
    

}
.right_part .login{
    margin-right:50%;
}
.header .center_wrapper .right_part a{
    padding: 0 0 0 20px;
    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color: #EDF3E5;
}

.header .center_wrapper .right_part .profile_icon{
    /* align-items: center; */
   margin-left: -10%;
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: -15%;
    

}

.header .center_wrapper .right_part .profile_icon .user_details{
    justify-content: center;
    display:block;
    margin-top: 15%;
}

.header .center_wrapper .right_part .profile_icon .user_details img{
    height:40px;
    margin-top:-5%;
    margin-bottom:-10%;
   
}




.header .center_wrapper .right_part .profile_icon a p{

    text-decoration: none;
    font-family:"lato";
    font-size: 10px;
    font-weight: 200;
    color: #EDF3E5; 
    
}

.header .center_wrapper .right_part .profile_icon a p:hover{
    color:#323929;
}

.header .center_wrapper .right_part img{
    max-width: 35%;
    height: 35%;
    padding-top: 2px;
    margin-bottom: -10px;
    
    
    
    
}
.user_details p{
    color:#EDF3E5;
}

.header .center_wrapper .left_part .menu ul li a:hover{
    color:#323929;
}

.header .center_wrapper .right_part .language a:hover{
    color:#323929;
}

#subMenu{
    position: absolute;
    top: 61%;
    right: 10%;
    width: 250px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    display: none;
    background: rgb(255, 255, 255);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}


.sub-menu{
    background: #f6f7f5cf;
    padding : 20px;
    margin: 10px;
    border-radius: 5px;
}
.user_details img{
    height:30px;
    margin-bottom: -10px;
}
.user-info{
    display : flex;
    align-items: center;
}

.user-info p{
    font-weight: 1000;
    color: #323929;
    font-size: 11px;
    width: 100%;

}

/* .user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

} */

.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #323929;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #323929;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 10px;

}

.sub-menu-link span{
    font-size: 15px;
    color: #323929;
    transform: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

nav{
    position:relative;
    width:100%;
    padding-top: 0%;
    margin-top: 0%;

}

nav .user-pic{
    color:#EDF3E5;
    display: flex;
    font-size: 10px;
    align-items: center;
    width:fit-content;
}

.profile_icon span{
    float: right;
    margin-top: -62%;
    /* line-height: 35px; */
    font-size: 15px;
    color:#EDF3E5;
}

.user_details{
    display: inline-block;
    align-items: center;
    
}
.fa-solid fa-circle-chevron-down{
    margin-left: 200%;
    margin-top: -35%;
}

.right_part .user-pic button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
 
}
.right_part .user-pic button :hover{
    font-weight: 600;
    color: #323929;
} 



.para{
    background-color: #12111110;
    margin: 0px 20px;
    padding-top:1px;
    padding-bottom:1px;
}
.para p{
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 400;
    color:#000000;
}
 .home_body{
   
    margin-left: 20%;
    margin-top: 2%;
    /* background: #8f918b29; */
 
 }

 .loggedhome_body{
    min-height: 80vh;
   
 }

 .home_body .resposive{
    height:auto;
 }
 

 .home_body ul {
    list-style: none;
    display: flex;
    padding: 35px 65px;
 
 }

 .home_body ul li {
    padding: 0 25px;
}
.home_view_body{
    margin-left: 12%;

 }
.home_view_body ul {
    list-style: none;
    display: flex;
    padding: 35px 65px;

 }


 @media screen and (max-width: 800px) {
    .home_view_body ul {
     display: block;
     margin-left: -25%;
    }
}

 .home_view_body ul li {
    padding: 0 25px;
}
.home_text{
    padding-left: 180px;
   margin-top: -15px;
}
.home_text ul {
    list-style: none;
    display: flex;
    
 
 }

 .home_text ul li {
    padding: 0 49px;
}

.home_body Button{
    margin-left:5px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   border-color:rgba(255, 255, 255, 0.878) ;
    background-color: #ffffffbc;
    color: rgb(15, 15, 15);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-weight: bold;


}

.wishlist button{
    border: none;
}

.wishlist_body button{
    border: none;
}



.wishlist_body Button:hover {
    background-color: #e7e5e5;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.603);
    color: #181818;
    transform: translateY(-7px);
  }


.home_body Button:hover {
    background-color: #fbfbfb;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.603);
    color: #181818;
    transform: translateY(-7px);
  }

.shopping button{
    margin-left:5px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   border-color:rgba(126, 124, 124, 0.174) ;
    background-color: #c6c4c4a4;
    color: rgb(0, 0, 0);
      
}



Button{
    margin-left:5px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   border:none;
     background-color:#aba9a9a2;
    color: rgb(15, 15, 15); 
    
}


body{
    background-color: rgb(255, 255, 255);
   
}

.login_body{
    height: auto;
}


form{
    background: rgba(128, 156, 91, 0.578);
    font-family: 'Lato';
    margin-left: 32%;
    margin-right: 33%;
    padding-left: 5%;
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    color: rgb(0, 0, 0);
   
   
}
@media screen and (max-width: 500px) {

    .login_body{
        height: 50%;
    }
    
   .login_body form{
         height: 30%;
         width: 50%;
    }

 }

input[type= text] , input[type= password],input[type= email]{
  width: 80%;
  display:inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius:40px ;
  -webkit-border-radius:40px ;
  -moz-border-radius:40px ;
  -ms-border-radius:40px ;
  -o-border-radius:40px ;
}


.cvv  input[type= text]{
    width: 30%;
}

.cvv{
    margin-left: 40%;
    margin-top: -12%;
}

input[type  = month]{
    width: 35%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ;
}

input[type= search]{
    width: 80%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:40px ;
}

input[type= number]{
    width: 50px;
   
}

input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 50%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}



h1{
    align-items: center;
    padding-left: 30%;
   margin-top: 8%;
}

/* .error{
    background: #ff613d;
     
     width: 80%;
     display:inline-block;
     padding: 12px 20px;
   margin: 8px 0;
} */

a{
  color: rgb(34, 63, 36);
  text-decoration:none;
}
.body{
    margin-top: 10%;
}

.body p{
  
    text-decoration: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color:#000000;
}

.logo{
    margin-top: -110%;
    margin-left: 25%;
    display: inline-flex;
    height:auto
   
  
}


.select{
    width: 80%;
    display:inline-block;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ; 

}

small{
    font-family: 'Lato';
    color: red;
    margin-left: 5px;
    margin-top: -3px;

}

.card{
    position: relative;
    top: 150px;
    width: 350px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
.card .card-body{

    margin-bottom: 20px;
   
  }

  .row_agri {margin: 0 -5px;}

  .card_agri_body{
    padding: 2px 16px;
    color: #5A713D
}
.agri_cards{
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    text-align: left;
    font-family: arial;
    padding-left: 2%;
    padding-bottom: 5%;
    text-align: center;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    display: grid ;
    justify-content: center;
    align-items: center; 
  grid-template-columns: 3fr;
  background-color: #809D5B; 
  padding: 10px;
   margin-left: 40px;
   margin-top: 60px;
   display: flex;
   justify-content: center;
   /* align-items: \; */

 }
  .upper-side{
    padding: 2em;
    background-color:#33ca93be;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  .lower-side {
    padding: 2em 2em 5em 2em;
    background:rgba(128, 156, 91, 0.384);
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background:#33ca93;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    
  }
  
  .contBtn:hover {
    
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
   
  }

  .alert{
    background-color: rgb(255 0 0 / 22%);
    margin-right: 75px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
   
  }

  .container{
    margin-top: 18px;
    position: relative;
  }

  .container .btn {
    position:absolute;
    margin-top: 120px;
    margin-left: 20px;
    border: none;
  }

  .input-icons{
    width: 40%;
    margin-bottom: 8px;
    margin-top: 15px;
  }
.input-icons .input-field{
 
        width: 38%;
        padding: 8px;
        text-align: center;
      
        color:#000000 ;
        font-style: lato;
        padding-left: 5px;
       
    
}

 .input-icons i{
 
    position: absolute;
    padding-top: 1%;
    padding-left:1% ;
    color:#000000;
   

}

  .search_button{
    width: 60px;
    height: 42px;
    background-color: #d0d0d0;
    border-radius: 50px;
    margin: 8px 0;
    margin-left: -50px;
    margin-top: 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.icon{
    margin-top: 10px;
    margin-left: 20px;
}

.shopping {
   margin-left :70%;
   margin-top: 1%;
}


table{
  
    align-content: center;
    width:100%;
}

th{
    padding: 8px;
}

td{
    padding: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
}

td button{
    width: 100px;
    height: 30px;
    left: 900px;
    top: 1800px;
    margin-top: 3%;
    background: #e27157; 
  
}

th{
    background-color: #d9d9d9cc;
}

tr:nth-child(odd){
    background-color: #dbdada59;
}



.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 45px;
   
   
   
 }

 .grid_4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 45px;

 }



.left{

    background-color:#ffffff85;

}

.right{

    background-color:#b4b4b485;
    height: 60%;

}
.right_2{
    margin-top:40px;
    height: 120%;
    width: 80%;
    background-color:#ffffff;
}
.right_2 form{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top:10%;  
    margin-left: -20px;
    height: 60%;
    width: 80%;
    background-color:rgba(128, 156, 91, 0.158);
}

.right input[type=submit]{
    margin-top :10px;
    margin-left: 510px;
}
.grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: 400px       ;
    width: 90%;
    margin-left:20px ;
  

    }



.left_1{
    height: 350px ;
    background-color:#b4b4b485;
}
 .pic{
    width: 320px;
    height: 380px;
    margin-left: 45px;
    background-color: rgb(205, 205, 205);
 }
.left_1 img{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.continue {

    /* margin-top: 10%; */
    margin-right: 75%;
   
}
.right_1{

    background-color:#eaeaf336;
    margin-left: 5%;
    height: 410px;
    width: 350px;

   
}

.right_1 form p{
    color: #444343;
    font-family: lato;
    font-size: smaller;
}
.check input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 5%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 40%;
}
.right_1 
input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 5%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 40%;
    float:none;
}
td form{
    width: 85%;
    height: 10px;
    margin-left: -10%; 
    /* margin-top: 5px; */
    background-color:transparent;
    
}
.update{

    height: 30px;
    left: 900px;
    top: 1800px;
    margin-top: -8px;
}
.set{
    margin-top: 80%;
    margin-left: -120%;
}

.right_1 form{
    width: 95%;
    margin-left: 0%;
    margin-top: -1px;
    background-color:#e4e4e449;
}

h3{
    margin-top: 2%;
     margin-left: 28%;
     margin-bottom:5% ;
}

.fa-cart-plus{
    padding-right: 10px;
}

.info{
margin-top: -10px;
    margin-left : 10%;
    font-size: 18px;
}
h2{
    margin-left : 10%; 
}

.topic{
    margin-left: 65px;
    margin-top: -30%;
}
.cards{

    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    margin-top: 5%;
    text-align: left;
    font-family: lato;
    margin-left: 10%;
    padding-bottom: 5%;
    text-align: center;
    background-color:#EBEBEB;
 
  }
  
  .cards:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card_1:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

  
  .card_body{
    
      padding: 4px 16px;
     padding-bottom: 20%;
  }
  
  .row {margin: 0 -5px;}
  
  .column {
      float: left;
      width: 25%;
      padding: 0 10px;
      margin-left: 15px;
    
   }
  
   .card_body input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 10px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 50%;
}




.detail{
    background-color: #d1d6cf81;
    margin-left:-5px;
    padding-left: 5px;
    width: 230px;
    margin-right:30%;

}
.card_body img{
    margin-top: 10px;
}
.card_1 {
 
    background-color:#EBEBEB;
    width:250px;
    transition: 0.3s;
}
.f_c form{
    width: 95%;
    height:400px;
    margin-left: -90px;
    margin-top: -2%;
    background-color: white;

}

.update {
   width: 50px;
   background-color: #33ca93;
}


.check {
    margin-left:100%;
   
}
.checkout {
    width: 80%;
    margin-top: 8%;
    margin-left: 45%;

}


.checkout form {
background-color: rgba(128, 156, 91, 0.182);

margin-left: 30%;
padding-left: 90px;
padding-bottom: 85px;
height:400px;
width:60%;
}


.form_content {
    
    margin-left: 5%;
    }
    

.check form{
 
    width:0%;
    height: 0%;
    margin-top: 10%;
    background-color: transparent;
}

.summary_body{
    margin-right: 100px;
    text-align: right;
    padding-right: 80px;
    margin-left: -30%;

}

.checkout  .btn_1{
margin-left: 38%;
margin-top: -65px;
width: auto;
background-color:rgb(159, 159, 159);
}

.checkout .logoo{
   margin-top: -100px;
   margin-left: 60px;
}

.checkout button{
    background-color:rgb(159, 159, 159) ;
    border: none;
}
.right_2 .btn_1{
    margin-left: 44%;
    margin-top: 40px;
    background-color:rgb(159, 159, 159);
    border: none;

    }

.back{
    margin-left: -72%;
    margin-top: -110px;
}
    .pay{
        margin-left: 30px;
    }

.fa-cc-visa{
    margin-top: 15%;
    margin-left: 260px;
}
.fa-cc-mastercard{ 
    margin-top: -5%;
    margin-left: 360px;
}




 .left_menu_bar{
    height: 80%;
    width: 15%;
    margin-top: 5%;
    flex:1.5;
    background: #8f918b29;
    display: block;
    border-radius:10px;
    height: 350px;
    box-shadow: var(--box-shadow);
    float: left;
    margin-left: 1%;
    
    
}

.left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.left_menu_bar h3{
    color:rgb(0, 0, 0);
    margin-left: 0px;
    padding-left:0px;
   
}



 .left_menu_bar #menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}


 .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

.menu_margin{
    margin-top: -4%;
}


/* .row{
    margin-left: 10%;
    margin-top: -30%;
} */

.row {
    
    display: flex;
    /* flex-direction: row; */
    background-color:transparent;
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;

   flex-wrap: wrap;
   height: 60%;


}


.rowone{
    display: flex;
    /* flex-direction: row; */
    background-color:rgba(253, 253, 253, 0.611);   
    width: 50%;
    margin-left: 25%;
margin-top: 5px;
margin-bottom: 30px;   
   /* flex-wrap: wrap; */
   height: 10%; 
} */


.rowone:hover{
    background-color: #a21313;
}
.right_row{
    background-color:rgba(128, 156, 91, 0.501);
  
    flex:4%;

}

.left_row{
    background-color: rgba(181, 181, 181, 0.342);
   
    flex:72%;

}
.rowone form{
    background-color:transparent; 
    width:85%;
 margin-left: 2%;
 height:78px;
 margin-top: 0px;
}  
    
.rowone .right_row p{
    margin-left: 25px;
}
.cards{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
    /* max-width: 450px; */
  /* margin-top: -220%;
    text-align: left;
    font-family: arial; */
    /* margin-left: 20%; */
    /* padding-bottom: 5%;
    text-align: center;
    ;
    width: 100%; */
    width:fit-content;
   
    background-color: rgb(240, 247, 245);
    padding-right: 10px;
}

  
  
  .cards_1:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
.column_2{
 flex-direction: column;
margin-top: -10%;
margin-bottom: 8%;

}

.menu{
    margin-top: -2%;
}


  
.column_2 form{
    width:100%;
    padding-right: 50px;
    background-color:transparent;
  
   
 
}

  

.row  a {
    background-color: #034F06;   
    font-weight:bold;
    font-size:16px;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border:1px solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    /* margin-left: -39%; */
}  

a.prev{
    margin-left: -40%; 
}
a.next{
    margin-left: 10%; 
}
 a.active {   
  background-color:rgba(253, 253, 253, 0.4);   
  color: black;
  margin-left: 10%;
} 
 a.normal {   
    background-color:rgba(128, 157, 91, 0.4);   
    color: black;
    margin-left: 12%;
   
 }

 .wishlist{
    margin-top: -8%;
    margin-left: -30%;
 }

.wishlist form{
    width:50%;
  height: 10%;
    margin-left: 38%;
    border-radius:35px;
    background-color:#78797746;
    margin-bottom: -35px;
}

.flex-container{
    display: flex;
    /*flex-wrap: wrap;
    */flex-direction: row;
    height: 130px;
    margin-top:-20px ;
    margin-left: -80px;
    background-color:none;
    
}
   
.flex-item-left {
   
    padding: 10px;
    flex: 10%;
    margin-left: 2%;
  }
  
  .flex-item-center {
    
    padding: 10px;
    flex: 25%;
    margin-left: 2%;
  }

  .flex-item-right {
   
    padding: 10px;
    flex: 40%;
  }

  .flex-item-right button{
    margin-top: 20%;
    /* background-color:rgba(95, 122, 53, 0.614); */
    background-color: #33ca93;
   
  }
  
.wishlist_body a{

    
    margin-left: 20%;
  }

  .grid_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 5%;
   

  }


  .left_3{
    background-color:rgba(181, 181, 181, 0.307);
     width:60%;
     margin-left:30%;
     height: 95%;
  }

  .left_3 img{
    margin-left: 8%;
    margin-top: 5%;
  }

  
  .right_3{
    height: 95%;
    width:65%;
    margin-left: -8%; 
    background-color:rgba(181, 181, 181, 0.307);
}

  .right_3 form{
    margin-top: 5%;
    margin-left: 15%;
    height: 350px;
    width: 75%;
    padding-right: 8%;
    background-color:rgba(181, 181, 181, 0.526);
   


  }

  .right_3 form .btn{
    margin-left: 13px;
  
   
  }

  .right_3 input[type  = submit]{
    width:44%;
  }
  
.wishlist_body{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .cart_body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .vegetable_body{
    min-height: 80vh;
    display: flex;
    flex-direction: column;

  }
  .contact_body{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .notification_body{
     min-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;

  }

.forum_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  

  }
  
  .history{
    margin-top: 0%;
    overflow-x: auto;
    width:100%;
  }
  .history_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  

  }

  .notification_body h2{
     margin-left: 25%;
  }

  .view_body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }

  .view_body a{
    margin-left: 220px;
  }

.row_1{
    display: flex;
    flex-direction: row;
    
}
.cards_1{
   
    width:fit-content;
    margin-left: -14px;
    background-color: rgb(240, 247, 245);
}

.cards_1:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column_1 form{
    margin-left:80px;
    background-color:transparent;

   
}


.pagination{
    margin-left:56%;
    margin-top: auto;
    padding-bottom:5% ;
}
@media screen and (max-width:600px){ 
    .row{
        margin-top: 400px;
        margin-left: -450px;
        
    }

    .pagination{
        margin-left: 42%;
    }
}
.break {
    flex-basis: 100%;
    height: 0px;
  }

 .textarea{
    height: 90px;
    width:100%;
    overflow: hidden;
   
   padding-bottom: 15px;
  }

 .rating_body form{
    width: 100%;
    margin-left: -6px;
    background-color: transparent;
 }


  
.rating_body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
    margin-top: 10%;
    
}

.rating_body h2{
    margin-left: 5px;
}
.rating-wrap{
	width: 400px;
	margin: auto;
	padding: 15px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	text-align: center;

}

.rating-wrap .text{

font-size: 25px;
font-weight: 500;
font-family: lato;
}

.rating-wrap .edit{

    font-size: 16px;
    font-weight: 500;
    font-family: Lato;
     margin-left:80%;
    }

    /* .rating-wrap form{
        display: none;
  }
 .rating-wrap input:checked ~ form{
    display:block;
} */

.wishlist .flex-item-right .view{

    background-color:rgba(108, 133, 74, 0.542);
    
}

.wishlist .flex-item-right .delete{

    background-color:rgba(238, 92, 63, 0.445);
    
}
.post{
    background-color: #e0e0e089;
    width:30%;
    height:40%;
    margin-left: 35%;
    margin-top: 10%;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);
}
.post a{
   font-size: 18px;
    font-family: Lato;
    margin-left: 40%;
 
}
     

.post .text{
    font-size: 20px;
    font-family: Lato;
    margin-left: 25%;
    padding-top: 20%;
   
}

.post button{

    background-color:transparent;
    font-size: 18px;
    font-family: Lato;
    margin-left: 48%;
    color: red;
}

.rateReview {
    height: 80%;
    
}
    
.rateReview form{
    margin-top: 8%;
    margin-left: 34%;
    background-color:transparent;
    width: 25%;
   font-size: 18px;
   font-family: Lato;
   background-color: #e0e0e061;
   box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);
    
}

.centerr{
	width: 250px; 
	
}
.centerr button{
    font-size: 18px;
    font-family: Lato;
    color: white;
	
}


.centerr  textarea{
    
        margin-left: 20%;
        margin-top: -10px;
        width:72%;
        height: 80%;
        resize: none;
    
}

#rating-value{	
	width: 130px;
	margin: 0 auto 0;
	padding: 10px 5px;
	text-align: center;
	box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
}

/*styling star rating*/
.rating{
	border: none;
    
	/* float: left; */
    /* padding-bottom: 10px; */

}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 2rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #e9dd41;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #e9dd41;
}

.rateReview button{
  
  margin-left: 35%;
   margin-top: 10px;
       background-color: #33ca93;
}

.right_part .language{
margin-top: -15%;
margin-left:-10%;
}
.lan{
    margin-left: 5%;
}


.reset_body form{
    margin-top: 0%;
}
.reset_body h1{
    margin-left: 2%;
}

.newPass_body h1{
    margin-left: 2%;
}
.newPass_body form{
    margin-top: 0%;
}
.otp_body form{
    margin-top: 0%;
}
.otp_body h1{
    margin-left: 2%;
}

.rowone i{

    margin-left: 30%;
    margin-top: -12%;
  
}

.rowone input[type= time]{
    background-color: transparent;
    border-color: transparent;
}

#id01 button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    
  }

  #id01 a{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
    color: black;
  }
  .cancelbtn {
    background-color: #b2adac;
    color: black;
  }
  
  /* Add padding and center-align text to the container */
  #id01 .model_body {
    padding: 16px;
    text-align: center;
    display: block;
  }
  #id01 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id01 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  .cart_body p{
    margin-left:2%;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 50px;
  }
  
  .R  modal-body  {
  padding-top: 10%;
  margin-left: 20%;
 
  }
  .model {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content nav{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
  }
 /* Modal Content/Box */
 .model-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
  }
 
  
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #9e9b9b;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding-left: 2%;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }

  .left_row form button{
    margin-left: 45%;
    margin-top: -10%;
  }


   .notification_body .left_row .modal form{
    background-color: #ffffffe0;
    height: 60%;
    width:40%;
    margin-left:25%;
    margin-top: 4%;
   }

   .modal .model_body  h1{
    margin-left: -25%;
   
   }

  
   .modal .model_body{
    margin-left: -25%;
    font-size: 18px;
   }

   .notification_body button{
    margin-top: 2%;
         margin-left: 25%;
   }


.modal form .container{
    height: 30%;
    background-color: #ffffffe0;
}
.modal form {
    height: 50%;
    background-color: #ffffffe0;
    padding-right: 5%;
}
.modal form h1{
    margin-left:-35%;

}
.clearfix {
    height: 60%;
   
    margin-top:6%;
}
.clearfix a{
    
    margin-top:4%;
    padding-left: 2%;

}

.history_body table{
    margin-left: -6%;
    box-shadow: 5px 8px 10px #e1e5ee;
    
}
.history_body form h2{
    margin-left: 30%;
    margin-top: -1%;
    padding-bottom: 2%;
   
    
}
.history_body form{

    width: 70%;
    background-color: transparent;
    margin-left: 15%;

}


.history_body tr:hover {background-color:rgba(128, 157, 91, 0.122);}
input[type = button]{
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 10%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width:65%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.history_body 
th{
    padding: 20px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    font-family: "Lato";
}
.history_body 
td{
    font-size: 18px;
    font-family: "Lato";
}

.history_body h3{
    margin-left: 35%;
}

.backk {
    width: 30%;
   margin-left: -4.5%;
    
}

.backk  input[type = submit] {
  
    background-color:#aba9a9a2 ;
    border: none;
    color: #000000;
}
.model_box{
    background-color: rgb(216, 206, 206); 
    width: 80%;
    font-size: 18px;
    margin-left: 15%;
    align-content: center;
    padding-left: 20%;
    padding-bottom: 3%;
    box-shadow: 0 2px 5px #e1e5ee;
    
}

.model_box  img{
    margin-left: 25%; 
}
.model_box  h2{
    margin-left: 25%;
    margin-top: 2%; 
}
.model_box  p{
    
    text-align: left;
    margin-left: 15%;
}

.history_form form{
    width: 80%;
    margin-left: 15%;


}

.checkout .back{

    margin-top: -4%;
    margin-left: -34%;
}
.contact_body{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}


    .cont_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-color: #809d5b41;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 1%;
        border-radius: 50px;
    }

    .hed {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .cont_hed p {
        font-size: 25px;
        margin: 10px 0;
        color: white ;
    }

    .cont_hed {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#323929;
        height: 150px;
        margin-top: 2%;
    }
    

    .count{
        background-color: #d34545;
        color: white;
        position: absolute;
        top: 48%;
        left: 50px;
        padding: 0 5px;
        font-size: 16px;
        line-height: 22px;
        height: 22px;
        border-radius: 11px;
        white-space: nowrap;
}

.count_2{
    background-color: #d34545;
    color: white;
    width: 15%;
    height: 70%;
    padding-left: 1%;
    padding-top: 2%;
    border-radius: 10px;
    margin-top: -20%;
    margin-left: 75%;
}


.Empty{
    background-color: #bacea023;
    width:fit-content;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 1%;
    margin-top: 8%;
    margin-left: 35%;
    
  
}

.Empty p{
    text-align: justify;
    margin-left: 5%;
    font-size: 16px;
    font-family: "lato";
}

.Empty i{
    margin-left: 35%;
}

.panel-body form{
    height: 40%;
}



.forum_body form input[type=button]{
    margin-left: 60%;
    width:20%
}



   .reply{
    background-color: white;
    padding-left:2% ;
    padding-top:1% ;
    width:100%;
    height: 50%;
    padding-bottom:1% ;
    margin-top: 2%;
   
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

    .reply p{
        margin-left: 0%;
        /* margin-top: -3%;  */
    }

    .add_question input[type  = text]{
        height: 40%;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        margin-left: 5%;
        margin-top: 3%;
        width: 87%;
}

.forum_body .backk{
    margin-top: 2%;
    margin-left: 20%;
}

.reply_body{
    width:100%;
}

.reply_body h4{
    margin-left:8%;
}

.reply_body td{
    width:30%;
}

.modal-body form{
    width:50%;

}

.reply{
    overflow-y:scroll;
    width: 60%;
    margin-left:15%;
    height: 50%;
}


.table{
    width:90%;
    margin-left:8%;
}

.reply_body tr{
  background-color: #d9d9d96f;
  box-shadow: 2px 3px 5px #e1e5ee;
}

.forum form{
    width:50%;
    background-color: #e5dede;
    margin-left: 22%;
    margin-top: -5%;
  
}

.forum{
    padding-bottom: 2%;
}

.form-group{
    padding-bottom: 2%;
    margin-left: 10%;
}

textarea{
    margin-left: 5%;
    margin-top: -10px;
    width: 80%;
    height: 40%;
    resize: none;
}

@media only screen and (max-width: 650px) {
    .reply {
        margin-top: 10%;
        width:100%;
        margin-left: -4%;
        
     }
.table{
    overflow-x: auto;
}
     .forum_body{
        margin-top:100%;
     }

     .forum form{
        width: 90%;
        margin-left: 5%;
     }

     .reply_body tr{
        font-size: 12px;
     }
 }
.modal-body{
    width:70%; 
    margin-top: 10%; 
      margin-left: 5%;
}
.modal-body  form{
  
    width:50%;
    margin-left: 35%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: rgba(242, 237, 237, 0.773);
}

.modal-body  form textarea {
    margin-top: 1%;
    width:60%
}

.modall{
    width:25%;
    margin-top: 5%;
}

.modal-body   form input[type=button]{
    margin-left: 62%;
    
}

#map {
    height: 65%;
    margin-left: 28%;
    width: 58%;
    margin-top: -4%;

  
  }
  .register_body form{
    margin-top: 6%;
  }

  .row_2 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    
  }

.location_body{
    min-height: 80vh;
    display: flex;
    flex-direction: column; 
}
 
  
  
  .location_body form{
    margin-left: 28%;
    width:58%;
    background: rgba(128, 156, 91, 0.115);
    font-family: 'Lato';
    padding-bottom:10% ;
    padding-right: 2%;
    margin-top: -20%;
    height: auto;
  }
 
  .location{
    padding-bottom: 5%;
    
  }

  .location_body h3{
    margin-left: 0;
  }

  .search{

    width: 100%;
    margin-top: -10%;

 }

 .search form{
    background-color: none;
 }
 @media only screen and (max-width: 1000px) {
    .search form{
        background-color: none;
        width: 80%;
    margin-left: 10%;
     }
 }
 .search-box button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin-left: -2%;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.8;

  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .container, .left_menu_bar {
      width: 100%;
    }
  }

#google_translate_element{
    width:88%;
    margin-left: 10%;
  color: #034F06;
    height:2%;
    font-family: Lato;
    font-size:18px;
}

.translate{
    margin-top: -10%;
    height:5%
    
}

body > .skiptranslate {
    display: none;

}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
body {
    top: 0px !important;
}
#google_translate_element select{
    background-color:transparent;
    color:white;
    border: none;
    border-radius:3px;
    padding:6px 8px;
    font-family: Lato;
    font-size:18px;
  }


  .not_found{
    width:60%;
    background-color: #d3cfcf1c;
    margin-left: 15%;
  }


  
.cont{
	max-width: 1170px;
	margin:auto;
}
.Roww{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #5A713D;
    padding: 20px 0;
    height:40%;
}
.footer-col{
   width: 32%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: "Lato";
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #f5ecec;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col ul li :hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(235, 225, 225, 0.696);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col p{
    color: #f5ecec;
    font-family: "Lato";
    font-size: 16px;
}

.footer-col i {
    margin-top: 5%;
}
.footer-col .social-links i{
    margin-top: 26%;
  }

.footer-col {
color: #ffffff;
font-family: "Lato";
    font-size: 16px;
}

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer{
        height:100%;
    }
    .footer-col{
      width: 100%;
     
  }
  .footer-col .social-links i{
    margin-top: 26%;
  }
  }
  

  