


@media all{

.header{

    background:url(../images/Header4.svg)no-repeat;
 
    height: 120px;
    background-size: 100% ;
    background-attachment: fixed;
    position: relative;
    margin-top: -8px;
    margin-left: -7px;
   
}



.header .center_wrapper{
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 0px 0;
    flex-wrap: wrap;


}

.header .center_wrapper .left_part{
    display: flex;
    width: 60%;
    


}
.header .center_wrapper .left_part .logo img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 1%;
    padding-top: 3px;
    position: relative;
   
}

.header .center_wrapper .left_part .menu{
    padding-left: 76.99px;
    padding-top: 5%;
    
    
}

.header .center_wrapper .left_part .menu ul{
    list-style: none;
    display: flex;
    
}
.header .center_wrapper .left_part .menu ul li a{

    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color:#EDF3E5;
    padding: 0 15px;
}
.header .center_wrapper .right_part ul li a{

  margin-left: -155%;
    
    
}
.header .center_wrapper .right_part .lg{

    margin-left: -55%;
      
      
  }


.header .center_wrapper .right_part  ul{
    list-style: none;
    display: flex;
    margin-top: 8%;
    margin-left: 5%;
    font-family:"lato";
    font-size: 18px;
    
}

.header .center_wrapper .right_part{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    margin-left: -2%;
    /* margin-top: -2%; */
    

}
.right_part .login{
    margin-left:-5%;
}
.header .center_wrapper .right_part a{
    padding: 0 0 0 20px;
    text-decoration: none;
    font-family:"lato";
    font-size: 18px;
    font-weight: 400;
    color: #EDF3E5;
}

.header .center_wrapper .right_part .profile_icon{
    /* align-items: center; */
   margin-left: -10%;
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: -13%;
    

}

.header .center_wrapper .right_part .profile_icon .user_details{
    justify-content: center;
    display:block;
}






.header .center_wrapper .right_part .profile_icon a p{

    text-decoration: none;
    font-family:"lato";
    font-size: 10px;
    font-weight: 200;
    color: #EDF3E5; 
    
}

.header .center_wrapper .right_part .profile_icon a p:hover{
    color:#323929;
}

.header .center_wrapper .right_part img{
    max-width: 35%;
    height: 35%;
    padding-top: 2px;
    align-items: center;
    
    
    
    
}
.user_details p{
    color:#EDF3E5;
}

.header .center_wrapper .left_part .menu ul li a:hover{
    color:#323929;
}

.header .center_wrapper .right_part .language a:hover{
    color:#323929;
}

#subMenu{
    position: absolute;
    top: 61%;
    right: 10%;
    width: 250px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    display: none;
   
}


.sub-menu{
    background: #f6f7f5c1;
    padding : 20px;
    margin: 10px;
    border-radius: 5px;
}
.user_details img{
    height:30px;
}
.user-info{
    display : flex;
    align-items: center;
}

.user-info p{
    font-weight: 1000;
    color: #323929;
    font-size: 11px;
    width: 100%;

}

.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: #323929;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #323929;
    margin: 0px 15px;
    text-decoration: none;
    font-size: 10px;

}

.sub-menu-link span{
    font-size: 15px;
    color: #323929;
    transform: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

nav{
    position:relative;
    width:100%;
    padding-top: 0%;
    margin-top: 0%;

}

nav .user-pic{
    color:#EDF3E5;
    display: flex;
    font-size: 10px;
    align-items: center;
    width:fit-content;
}

.profile_icon span{
    float: right;
    margin-top: -62%;
    /* line-height: 35px; */
    font-size: 15px;
    color:#EDF3E5;
}

.user_details{
    display: inline-block;
    align-items: center;
    
}

.right_part button{
    cursor: pointer;
    background: none;
	color: inherit;
	border: none;

}

.right_part button :hover{
    font-weight: 600;
    color: #323929;
} 

.footer-copyright p{
    margin-top: 6%;
}

footer{
   margin-top: auto;
}
.para{
    background-color: #12111110;
    margin: 0px 20px;
    padding-top:1px;
    padding-bottom:1px;
}
.para p{
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 400;
    color:#000000;
}
 .home_body{
    padding-left: 180px;
    /* margin-top: -14%; */
 }

 .home_body .resposive{
    height:auto;
 }

 .loggedhome_body{
    padding-left: 55px;
    margin-top:-40%;
   
 }
 
 .home_body ul {
    list-style: none;
    display: flex;
    padding: 35px 65px;
 
 }

 .home_body ul li {
    padding: 0 25px;
}
.home_text{
    padding-left: 180px;
   margin-top: -15px;
}
.home_text ul {
    list-style: none;
    display: flex;
    
 
 }

 .home_text ul li {
    padding: 0 49px;
}

Button{
    margin-left:5px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
   border-color:rgba(228, 228, 228, 0.564) ;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
}


body{
    background-color: rgb(255, 255, 255);
   
}


form{
    background: rgba(128, 156, 91, 0.578);
    font-family: 'Lato';
    margin-left: 32%;
    margin-right: 33%;
    padding-left: 5%;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    color: rgb(0, 0, 0);
   
   
}

input[type= text] , input[type= password],input[type= email]{
  width: 80%;
  display:inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius:40px ;
  -webkit-border-radius:40px ;
  -moz-border-radius:40px ;
  -ms-border-radius:40px ;
  -o-border-radius:40px ;
}


.cvv  input[type= text]{
    width: 30%;
}

.cvv{
    margin-left: 40%;
    margin-top: -12%;
}

input[type  = month]{
    width: 35%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ;
}

input[type= search]{
    width: 80%;
    display:inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:40px ;
}

input[type= number]{
    width: 50px;
   
}

input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 50%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}



h1{
    align-items: center;
    padding-left: 30%;
   margin-top: 8%;
}

/* .error{
    background: #ff613d;
     
     width: 80%;
     display:inline-block;
     padding: 12px 20px;
   margin: 8px 0;
} */

a{
  color: rgb(34, 63, 36);
  text-decoration:none;
}
.body{
    margin-top: 10%;
}

.body p{
  
    text-decoration: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color:#000000;
}

.logo{
    margin-top: -110%;
    margin-left: 25%;
    display: inline-flex;
    height:auto
   
  
}


.select{
    width: 80%;
    display:inline-block;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius:40px ;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ; 

}

small{
    font-family: 'Lato';
    color: red;
    margin-left: 5px;
    margin-top: -3px;

}

.card{
    position: relative;
    top: 150px;
    width: 350px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
.card .card-body{

    margin-bottom: 20px;
   
  }

  .row_agri {margin: 0 -5px;}

  .card_agri_body{
    padding: 2px 16px;
    color: #5A713D
}
.agri_cards{
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    text-align: left;
    font-family: arial;
    padding-left: 2%;
    padding-bottom: 5%;
    text-align: center;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    display: grid ;
    justify-content: center;
    align-items: center; 
  grid-template-columns: 3fr;
  background-color: #809D5B; 
  padding: 10px;
   margin-left: 40px;
   margin-top: 60px;
   display: flex;
   justify-content: center;
   /* align-items: \; */

 }
  .upper-side{
    padding: 2em;
    background-color:#33ca93be;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  
  .lower-side {
    padding: 2em 2em 5em 2em;
    background:rgba(128, 156, 91, 0.384);
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background:#33ca93;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    
  }
  
  .contBtn:hover {
    
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
   
  }

  .alert{
    background-color: rgb(255 0 0 / 22%);
    margin-right: 75px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
   
  }

  .container{
    margin-top: 18px;
    position: relative;
  }

  .container .btn {
    position:absolute;
    margin-top: 120px;
    margin-left: 20px;
  }

  .input-icons{
    width: 40%;
    margin-bottom: 8px;
    margin-top: 15px;
  }
.input-icons .input-field{
 
        width: 38%;
        padding: 8px;
        text-align: center;
      
        color:#000000 ;
        font-style: lato;
        padding-left: 5px;
       
    
}
.search{
    padding-top: -30%;
     padding-left: 35%;
    display: flex;
    width: 30%;

 }

 .input-icons i{
 
    position: absolute;
    padding-top: 1%;
    padding-left:1% ;
    color:#000000;
   

}

  .search_button{
    width: 60px;
    height: 42px;
    background-color: #d0d0d0;
    border-radius: 50px;
    margin: 8px 0;
    margin-left: -50px;
    margin-top: 8px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.icon{
    margin-top: 10px;
    margin-left: 20px;
}

.shopping {
   margin-left :70%;
}


table{
  
    align-content: center;
    
}

th{
    padding: 8px;
}

td{
    padding: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
}

td button{
    width: 100px;
    height: 30px;
    left: 900px;
    top: 1800px;
    margin-top: 3%;
    background: #e27157; 
  
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 45px;
   
   
   
    }

.left{
  
    background-color:#ffffff85;
    
}

.right{
  
    background-color:#b4b4b485;
    height: 60%;
    
}
.right_2{
    margin-top:40px;
  
    height: 120%;
    width: 80%;
    background-color:#ffffff;
}
.right_2 form{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top:10%;  
    margin-left: -20px;
    height: 60%;
    width: 80%;
    background-color:rgba(128, 156, 91, 0.158);
}

.right input[type=submit]{
    margin-top :10px;
    margin-left: 510px;
}
.grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: 400px       ;
    width: 90%;
    margin-left:20px ;
  

    }

.left_1{
    height: 350px ;
    background-color:#b4b4b485;
}
 .pic{
    width: 320px;
    height: 380px;
    margin-left: 45px;
    background-color: rgb(205, 205, 205);
 }
.left_1 img{
    margin-top: 30px;
    margin-left: 25px;
    
}

.continue {

    /* margin-top: 10%; */
    margin-right: 90%;
   
}
.right_1{

    background-color:#eaeaf336;
    margin-left: 5%;
    height: 410px;
    width: 350px;

   
}
.check input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 5%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 40%;
}
.right_1 
input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 5%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 40%;
}
td form{
    width: 85%;
    height: 10px;
    margin-left: -10%; 
    /* margin-top: 5px; */
    background-color:transparent;
    
}
.update{

    height: 30px;
    left: 900px;
    top: 1800px;
    margin-top: -8px;
}
.set{
    margin-top: 80%;
    margin-left: -120%;
}

.right_1 form{
    width: 95%;
    margin-left: 0%;
    margin-top: -1px;
    background-color:#e4e4e449;
}

h3{
    margin-top: 2%;
     margin-left: 30%;
     margin-bottom:5% ;
}

.fa-cart-plus{
    padding-right: 10px;
}

.info{
margin-top: -10px;
    margin-left : 10%;
    font-size: 18px;
}
h2{
    margin-left : 10%; 
}

.topic{
    margin-left: 65px;
    margin-top: -30%;
}
.cards{

    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 250px;
    margin-top: 5%;
    text-align: left;
    font-family: lato;
    margin-left: 10%;
    padding-bottom: 2%;
    text-align: center;
    background-color:#EBEBEB;

  }
  
  .cards:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card_1:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

  
  .card_body{
      padding: 4px 16px;
  }
  
  .row {margin: 0 -5px;}
  
  .column {
      float: left;
      width: 25%;
      padding: 0 10px;
      margin-left: 15px;
    
   }
  
   .card_body input[type=submit] {
    background-color: #33ca93;
    color: white;
    padding: 10px 14px;
    margin-left: 0.5%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 48%;

}




.detail{
    background-color: #d1d6cf81;
    margin-left:-5px;
    padding-left: 5px;
    width: 230px;
    margin-right:30%;

}
.card_body img{
    margin-top: 10px;
}
.card_1 {
 
    background-color:#EBEBEB;
    width:250px;
    transition: 0.3s;
}
.f_c form{
    width: 95%;
    height:400px;
    margin-left: -90px;
    margin-top: -2%;
    background-color: white;

}

.update {
   width: 50px;
   background-color: #33ca93;
}


.check {
    margin-left:55%;
    margin-top: -4%;
}
.checkout {
    width: 80%;
    margin-top: 8%;
    margin-left: 150px;

}


.checkout form {
background-color: rgba(128, 156, 91, 0.182);
text-align: left;
padding-left: 90px;
padding-bottom: 85px;
height:400px
}

.check form{
 
    width:0%;
    height: 0%;
    margin-top: 10%;
    background-color: transparent;
}

.summary_body{
    margin-right: 100px;
    text-align: right;
    padding-right: 50px;
}

.checkout  .btn_1{
margin-left: 38%;
margin-top: -65px;
width: auto;
background-color:rgb(159, 159, 159);
}

.checkout .logoo{
   margin-top: -100px;
   margin-left: 60px;
}

.checkout button{
    background-color:rgb(159, 159, 159) ;
}
.right_2 .btn_1{
    margin-left: 44%;
    margin-top: 40px;
    background-color:rgb(159, 159, 159);
    }

.back{
    margin-left: -72%;
    margin-top: -110px;
}
    .pay{
        margin-left: 30px;
    }

.fa-cc-visa{
    margin-top: 15%;
    margin-left: 260px;
}
.fa-cc-mastercard{ 
    margin-top: -5%;
    margin-left: 360px;
}
.containerr{
    height: 80%;
    width: 15%;
    display: flex;
    padding-top: 15px;
}




.containerr .left_menu_bar{
    flex:1.5;
    background: #8f918b29;
    display: block;
    border-radius:10px;
    height: 350px;
    box-shadow: var(--box-shadow);
    margin-top: 2%;
    margin-left: 1%;
    
    
}

.containerr .left_menu_bar ul li a{
    text-decoration: none;
    padding: 11px;
    margin: 4px;
    display: block;
    color: #43562B;
    background:#fff;
    border-radius:4px;

    
}

.containerr .left_menu_bar ul li a:hover{
    background: rgba(217, 217, 217);
   
}

.containerr .left_menu_bar h3{
    color:rgb(0, 0, 0);
    margin-left: 0px;
    padding-left:0px;
   
}



.containerr .left_menu_bar #menu{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.left_menu_bar i{
    display: inline-block;
    margin-right: 1em;
    
  }

  .left_menu_bar #menu .image{
    padding-bottom: 0px;
    margin-bottom: 0px;

  }

.left_menu_bar #menu i{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}


.containerr .left_menu_bar ul{
    list-style: none;
    margin: 10px;
    padding: 0px;

}

/* .row{
    margin-left: 10%;
    margin-top: -30%;
} */

.row {
    
    display: flex;
    /* flex-direction: row; */
    background-color:transparent;
    width: 70%;
    margin-left: 15%;
    margin-top: -36%;
    
   flex-wrap: wrap;
   height: 60%;


}

.rowone{
    display: flex;
    /* flex-direction: row; */
    background-color:rgba(253, 253, 253, 0.611);   
    width: 50%;
    margin-left: 25%;
margin-top: 5px;
margin-bottom: 30px;   
   /* flex-wrap: wrap; */
   height: 10%; 
} */


.rowone:hover{
    background-color: #a21313;
}
.right_row{
    background-color:rgba(128, 156, 91, 0.501);
  
    flex:4%;

}

.left_row{
    background-color: rgba(181, 181, 181, 0.342);
   
    flex:72%;

}
.rowone form{
    background-color:transparent; 
    width:85%;
 margin-left: 2%;
 height:78px;
 margin-top: 0px;
}  
    
.rowone .right_row p{
    margin-left: 25px;
}
.cards{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
    /* max-width: 450px; */
  /* margin-top: -220%;
    text-align: left;
    font-family: arial; */
    /* margin-left: 20%; */
    /* padding-bottom: 5%;
    text-align: center;
    ;
    width: 100%; */
    width:fit-content;
   
    background-color: rgb(240, 247, 245);
    padding-right: 10px;
}

  
  
  .cards_1:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
.column_2{
 flex-direction: column;
}
  
.column_2 form{
    width:100%;
    padding-right: 50px;
    background-color:transparent;
   
 
}

  

.row  a {
    background-color: #034F06;   
    font-weight:bold;
    font-size:16px;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border:1px solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    /* margin-left: -39%; */
}  

a.prev{
    margin-left: -40%; 
}
a.next{
    margin-left: 10%; 
}
 a.active {   
  background-color:rgba(253, 253, 253, 0.4);   
  color: black;
  margin-left: 10%;
} 
 a.normal {   
    background-color:rgba(128, 157, 91, 0.4);   
    color: black;
    margin-left: 12%;
   
 }

 .wishlist{
    margin-left: -30%;
 }

.wishlist form{
    width:40%;
    height: 12%;
    margin-left: 38%;
    border-radius:35px;
    background-color:#78797746;
    margin-bottom: -35px;
}

.flex-container{
    display: flex;
    /*flex-wrap: wrap;
    */flex-direction: row;
    height: 180px;
    margin-top:-38px ;
    margin-left: -80px;
    background-color:#3d542000;
    
}
   
.flex-item-left {
   
    padding: 10px;
    flex: 10%;
  }
  
  .flex-item-center {
    
    padding: 10px;
    flex: 30%;
  }

  .flex-item-right {
   
    padding: 10px;
    flex: 40%;
  }

  .flex-item-right button{
    margin-top: 20%;
    background-color:rgba(89, 108, 61, 0.858);
    
   
  }
  
.wishlist_body a{

    
    margin-left: 20%;


  }

  .grid_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 460px       ;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 45px;
   

  }
  .left_3{
    background-color:rgba(181, 181, 181, 0.307);
     width:60%;
     margin-left:30%;
     height: 95%;
  }

  .left_3 img{
    margin-left: 8%;
    margin-top: 5%;
  }

  
  .right_3{
    height: 95%;
    width:70%;
    margin-left: -10%; 
    background-color:rgba(181, 181, 181, 0.307);
}

  .right_3 form{

    margin-left: 5%;
    height: 350px;
    width: 70%;
    background-color:rgba(181, 181, 181, 0.526);
   


  }

  .right_3 form .btn{
    margin-left: 0px;
   
  }
  
.wishlist_body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .cart_body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .vegetable_body{
    min-height: 60vh;
    display: flex;
    flex-direction: column;

  }

  .notification_body{
     min-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;

  }

.forum_body{
    height: 90vh;
    display: flex;
    flex-direction: column;
  

  }
  
  .history_body{
    height: 90vh;
    display: flex;
    flex-direction: column;
  

  }

  .notification_body h2{
     margin-left: 25%;
  }

  .view_body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }

  .view_body a{
    margin-left: 220px;
  }

.row_1{
    display: flex;
    flex-direction: row;
    
}
.cards_1{
   
    width:fit-content;
    margin-left: -14px;
    background-color: rgb(240, 247, 245);
}

.cards_1:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column_1 form{
    margin-left:80px;
    background-color:transparent;

   
}

.pagination{
    margin-left:56%;
    margin-top: auto;
}

.break {
    flex-basis: 100%;
    height: 0px;
  }

 .textarea{
    height: 90px;
    width:100%;
    overflow: hidden;
   
   padding-bottom: 15px;
  }

 .rating_body form{
    width: 100%;
    margin-left: -6px;
    background-color: transparent;
 }

 .textarea textarea{
    height: 100%;
    width:95%;
    outline: none;
    border: 1px solid #333;
 
    margin-bottom: 8px;
    margin: 5px 0 5px 0;

  }
  
.rating_body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
    margin-top: 10%;
    
}

.rating_body h2{
    margin-left: 5px;
}
.rating-wrap{
	width: 400px;
	margin: auto;
	padding: 15px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	text-align: center;

}

.rating-wrap .text{

font-size: 25px;
font-weight: 500;
font-family: lato;
}

.rating-wrap .edit{

    font-size: 16px;
    font-weight: 500;
    font-family: Lato;
     margin-left:80%;
    }

    /* .rating-wrap form{
        display: none;
  }
 .rating-wrap input:checked ~ form{
    display:block;
} */
     
.rating-wrap .post{

      display: none;
}
    

.centerr{
	width: 200px; 
	margin: auto;
}


#rating-value{	
	width: 130px;
	margin: 0 auto 0;
	padding: 10px 5px;
	text-align: center;
	box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
}

/*styling star rating*/
.rating{
	border: none;
    
	/* float: left; */
    /* padding-bottom: 10px; */

}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #e9dd41;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #e9dd41;
}


.right_part .language{
margin-top: -15%;
}

.reset_body{
    margin-top: 10%;
}
.reset_body h1{
    margin-left: 2%;
}

.newPass_body h1{
    margin-left: 2%;
}
.otp_body h1{
    margin-left: 2%;
}

.rowone i{

    margin-left: 30%;
    margin-top: -12%;
  
}

.rowone input[type= time]{
    background-color: transparent;
    border-color: transparent;
}

#id01 button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    
  }

  #id01 a{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
    color: black;
  }
  
  /* Add padding and center-align text to the container */
  #id01 .container {
    padding: 16px;
    text-align: center;
    display: block;
  }

  #id01 .container p{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }

  .left_row form button{
    margin-left: 45%;
    margin-top: -10%;
  }


   .notification_body .left_row .modal form{
    background-color: #f6f6f6e0;
    height: 60%;
    width:40%;
    margin-left:25%;
    margin-top: 4%;
   }
   .modal .model_body  h1{
    margin-left: -25%;
   
   }

   .modal .model_body{
    margin-left: -22%;
    font-size: 18px;
   }

   .notification_body button{
    margin-top: 2%;
         margin-left: 25%;
   }

.forum_body  h2{
    margin-left: 22%;
}
   .forum_body form{
    border-radius: 40px;
    width: 60%;
    height: 70%;
    margin-top: -1%;
    padding-bottom: 2%;
    margin-left: 20%;
    overflow-y:scroll;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.forum_body form button{
    margin-left: 75%;
}

   .question{
    background-color: white;
    padding-left:2% ;
    padding-top:1% ;
    width:85%;
    height: 15%;
    padding-bottom:1% ;
    margin-left: 5%;
   }

   .reply{
    background-color: white;
    padding-left:2% ;
    padding-top:1% ;
    width:80%;
    height: 25%;
    padding-bottom:1% ;
    margin-top: 1%;
    margin-left: 10%;
   }

    .reply i {
        margin-left: 85%;
     
     }

    .reply p{
        margin-left: 90%;
        margin-top: -3%; 
    }

    .add_question input[type  = text]{
        height: 40%;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        margin-left: 5%;
        margin-top: 3%;
        width: 87%;
}

.forum_body .backk{
    margin-top: 2%;
    margin-left: 20%;
}
}
