@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    font-family:'Lato', sans-serif;
}


.create_form_wrapper{
    height: calc(100%-100px);
    height:80%;
    margin:20px 30px 20px 100px;
    background: rgba(169, 172, 172, 0.377);
    width: 75%;
    padding: 20px 50px 5px 100px;
    border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .create_form_wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px 0;
  }
}

h1{
    color:#5A713D;
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width: 767px) {
  .create_form_wrapper form .field div {
    flex-direction: column;
  }
}

.create_form_wrapper form .field div label{
    color:#5A713D;
    flex:1.5;
    
    text-align:left;

}

.create_form_wrapper form .field div input, select, textarea{
    flex:8.5;
    height:40px;
    padding-top: 3px;
    padding-left: 10px;
    line-height: 2em; 
    border-style: none;
    color:#5A713D;
    width: 99%;
    margin: 10px 0px 20px 0px;
    
}


.create_form_wrapper form .field .contents{
 display: block;
}

.create_form_wrapper form .field .images{
    display:block;
    
}

.create_form_wrapper form .field .images .image{
    background-color:white;
    margin-bottom: 30px;
}

.create_form_wrapper form .field .content
{
  background-color:white;
  margin-bottom: 30px;
  min-height: 500px;
}

.create_form_wrapper form .field .content p,
.create_form_wrapper form .field .content ul,
.create_form_wrapper form .field .content ol{
  font-size: 1.2rem;
  line-height: 2rem;
  
}

.create_form_wrapper form .field .content ul,
.create_form_wrapper form .field .content ol{
  padding-left:1rem;
}

.create_form_wrapper form .field .content p{
  margin-bottom: 25px;
}

.create_form_wrapper form .field div img{
    margin-left: 15%;
    
}

#file-upload-button{
    color:#5A713D;
}

 ::placeholder{
    color: #5A713D;
    text-align: justify;
}


.btn{
    border:none;
    width:50%;
    height:30px;
    color:#FCFEF9;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #5A713D;
    border-radius: 10px;
    margin-bottom: 10px;
   
}

.btn:hover{
    background: #323929;
}



.message{
    width: 90%;
    height: 25px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    background: rgba(98, 152, 162, 0.445);
    font-size: 20px;
    display: flex;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;

    

}

.message p{
    
    flex: 8;
    color: rgb(12, 78, 90);
    font-weight: 1000;
  }

  .closebtn {
    
    color:rgb(12, 78, 90);
    font-weight: bold;
    
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    
  }
  .closebtn:hover {
    color: black;
  }
  
  .goback-btn {
    color:#323929;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 1000;
    background-color: #d7d8d65c;
    border-radius: 10px;
    
  }
  
   
