@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    font-family:'Lato', sans-serif;
}

body{
  position: relative;
  margin: 0%;
  height: 100%;
  width: 100;
}

.container{
  height: 80%;
  width: 100%;
  display: flex;
  padding-top: 5px;
 
}


.container .left_menu_bar{
  flex:1.5;
  background: #8f918b29;
  display: block;
  border-radius:10px;
  height: auto;
  box-shadow: var(--box-shadow);
  margin-top: 1%;
  margin-left: 1%;
  
  
}

.container .left_menu_bar ul li a{
  text-decoration: none;
  padding: 11px;
  margin: 4px;
  display: block;
  color: #43562B;
  background:#fff;
  border-radius:4px;
  font-size: 14px;

  
}

.container .left_menu_bar ul li a:hover{
  background: rgba(217, 217, 217);
 
}

.container .left_menu_bar h3{
  color:rgba(67, 86, 43);
  margin-left: 0px;
  padding-left:0px;
 
}



.container .left_menu_bar #menu{
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.left_menu_bar i{
  display: inline-block;
  margin-right: 1em;
  
}

.left_menu_bar #menu .image{
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.left_menu_bar #menu i{
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}


.container .left_menu_bar ul{
  list-style: none;
  margin: 10px;
  padding: 0px;

}

.container .create_form_wrapper{
    height: auto;
    background-color: rgba(239, 239, 239, 0.7);
    flex: 8.5;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 20px ;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    margin-top: 1%;
    min-height: 350px;
  
  }
  
  .container .create_form_wrapper .view-wrap {
    height: auto;
    margin:20px;
    width: 95%;
  
  }
  
  .container .create_form_wrapper .view-wrap .view{
    display:block;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: #fff;
    padding: 3%;
  }
  
  @media screen and (max-width: 767px) {
    .create_form_wrapper {
      width: 100%;
      height: auto;
      padding: 20px;
      margin: 20px 0;
    }
  }

  h1{
    color: #43562B;
  }

  .title{
    margin-left: 20px;
  }
  

  .question{
    padding: 10px;
    box-shadow: 0 0 5px grey;
    margin-bottom: 10px;
    width: 97%;
   

  }

  .fetching_content{
    display: flex;
  }

  .question .status_div{
    align-items: center;
    padding: 30px 0px;
  }

  .question_details{
    width: 580px;
    padding: 20px;
  }

  .question_details p{
    color: rgba(60, 60, 60, 0.745);
    font-size: 10px;
  }

  .question .user_image{
    padding: 20px 0px 0px 20px;
  }

  .status_div a{
    text-decoration: none;
    color: black;
    background-color: rgba(83, 81, 81, 0.48);
    padding: 10px 50px;
    margin-top: 20px;
    align-items: end;
    border-radius: 15px;
  }

  .status_div .status{
    margin-bottom: 20px;
  }

  .status_text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .status_text i{
    margin-left: 10px;
    margin-top: 5px;
  }

  .reply-btn i{
    margin-left: 10px;
  }

  .answer{
    background-color: aliceblue;
    min-height: 10px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(83, 82, 82);
    border-radius: 5px;
    width: 90%;
  }

  .answer input{
    background-color: aliceblue;
    border: none;
    color: rgb(83, 82, 82) ;
    padding-left: 50px;
  }

  .answer_div textarea{
    width: 90%;
    min-height: 100px;
    padding: 10px;
    border: none;
  }

  .input_content{
    background-color: rgba(190, 197, 195, 0.419);
    padding: 15px 0px;
    display: none;
    
  }

  .answer_div{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .submit-btn{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .submit-btn button{
    padding: 10px 50px;
    background-color:#43562B;
    margin: 20px 20px 0px 0px;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    color: #fff;
  }

  .close {
    align-items: right;
    display: flex;
    justify-content: right;
    font-size: 22px;
    font-weight: bold;
    color:rgb(3, 3, 3);
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .create-btn{
    display:flex;
    align-items: right;
    justify-content: right;
  }

  .create-btn a{
    background-color: #43562B;
    text-decoration: none;
    color: white;
    margin: 0px 0px 30px 30px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 14px;

  }

   /* Float cancel and delete buttons and add an equal width */
   .cancelbtn, .deletebtn {
    float: left;
    
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #938f8f;
    color: black;
  }

  #id01 button{
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    border-radius: 5px;
    
    
  }

  #id01 .savebtn{
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
  }
  
  /* Add a color to the delete button */
  .savebtn {
    background-color:#43562B;
    color: black;
  }
  

  #id01  p{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070708a4;
    padding-top: 40px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
    height: 60%;
    border: 2px solid #43562B;
    
  }

  .question_modal{
    margin: 20px;
    height: 70%;
    width: 100%;
    padding-bottom: 30px;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }


  .clearfix{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #answer-div{
    width: 95%;
    background-color: #70787042;
    border-radius: 30px;
    padding-left:10px ;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: none;

  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }

  #id01 textarea{
     width: 90%;
     min-height: 30%;
     margin-top: 20px;
     padding: 20px;
     border: none;
     background-color:#e3e9dc88;
  }

  #id01 h2{
    color: #43562B;
    margin-top: 30px;
  }





