@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;/*gost margine*/
    padding:0;
    box-sizing:inherit;
    font-family:'Lato', sans-serif;
}

body{
  position: relative;
  margin: 0%;
  height: 100%;
  width: 100;
}

.container{
  height: 80%;
  width: 100%;
  display: flex;
  padding-top: 5px;
}


.container .left_menu_bar{
  flex:1.5;
  background: #8f918b29;
  display: block;
  border-radius:10px;
  height: auto;
  box-shadow: var(--box-shadow);
  margin-top: 1%;
  margin-left: 1%;
  
  
}

.container .left_menu_bar ul li a{
  text-decoration: none;
  padding: 11px;
  margin: 4px;
  display: block;
  color: #43562B;
  background:#fff;
  border-radius:4px;
  font-size: 14px;

  
}

.container .left_menu_bar ul li a:hover{
  background: rgba(217, 217, 217);
 
}

.container .left_menu_bar h3{
  color:rgba(67, 86, 43);
  margin-left: 0px;
  padding-left:0px;
 
}



.container .left_menu_bar #menu{
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.left_menu_bar i{
  display: inline-block;
  margin-right: 1em;
  
}

.left_menu_bar #menu .image{
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.left_menu_bar #menu i{
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}


.container .left_menu_bar ul{
  list-style: none;
  margin: 10px;
  padding: 0px;

}

.container .create_form_wrapper{
  width: 100%;
  height: auto;
  background-color: rgba(239, 239, 239, 0.7);
  flex: 8.5;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding-left: 20px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  margin-top: 1%;
  


}

.container .create_form_wrapper .view-wrap {
  height: auto;
  margin-right: 5px;
  width: 98%;

}

.container .create_form_wrapper .view-wrap .view{
  display:block;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .create_form_wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px 0;
  }
}

h1{
    color:#5A713D;
    text-align: center;
    margin: 20px 0px;
}


@media screen and (max-width: 767px) {
  .create_form_wrapper form .field div {
    flex-direction: column;
  }
}

.container .create_form_wrapper .view-wrap .view .view-btn, .update-btn{
  color: rgb(68, 71, 71);
  border-color: black;
  margin-right:0px;
  margin-left:20%;
  text-align: center;
  margin-top: 0.4%;
  margin-bottom: 0.4%;
  background-color:white;
  width: 20%;
  border-radius: 10px;
  height: 80%;
  
}


.container .create_form_wrapper .view-wrap .view .view-btn:hover, .update-btn:hover{
  background-color:rgba(169, 172, 172, 0.251);
}

.btn-section button:active {
  background-color: #ccc;
}

.btn-section{
  background-color: rgba(100, 102, 99, 0.2);
  height: 30px;
  box-shadow:solid #FCFEF9;
  width: 100%;

}

.view-div{
  min-height: 40vh;
  display: block;
  justify-content: space-between;
  margin: 45px;
  width: 90%;
}

.update-div{
  min-height: 40vh;
  display: none;
  justify-content: space-between;
  margin: 30px;
  width: 90%;
}

form {
  flex-wrap: wrap;
  gap: 5px;
  width:100%;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  height: auto;

}


.create_form_wrapper form label{
    color:#5A713D;
    text-align:left;

}

.create_form_wrapper form input, select{
    flex:8.5;
    height:40px;
    padding-top: 3px;
    padding-left: 10px;
    line-height: 2em; 
    border-style: none;
    color:#5A713D;
    width: 100%;
    margin: 10px 0px 20px 0px;
    background-color: rgba(169, 172, 172, 0.251);
    
}

.create_form_wrapper form textarea{
  height:100px;
  margin: 0px 0px 20px 0px;
  padding-top: 3px;
  padding-left: 10px;
  line-height: 2em; 
  border-style: none;
  color:#5A713D;
  width: 100%;
  background-color: rgba(169, 172, 172, 0.251);
}


.create_form_wrapper form .field .content{
 display: block;
}

.create_form_wrapper form .field .images{
    display:block;
    
}

.create_form_wrapper form .field .images .image{
    background-color:white;
    margin-bottom: 30px;
    display: flex;
    
}

.create_form_wrapper form .field .images .image input{
  margin-left: 50px;
  margin-top: 0%;
  
}




.create_form_wrapper form .field div img{
    text-align: center;
    width: 400px;
    
}

#file-upload-button{
    color:#5A713D;
}

 ::placeholder{
    color: #5A713D;
    text-align: justify;
}


.block .button-section .btn{
    border:none;
    width:50%;
    height:30px;
    color:#FCFEF9;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #5A713D;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
   
}

.btn:hover{
    background: #323929;
}



.message{
    width: 89%;
    height: 25px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    background: rgba(98, 152, 162, 0.445);
    font-size: 20px;
    display: flex;
    margin-left: 4.5%;
    margin-bottom: 2%;
    margin-top: 2%;

    

}

.message p{
    
    flex: 8;
    color: rgb(12, 78, 90);
    font-weight: 1000;
  }

  .closebtn {
    
    color:rgb(12, 78, 90);
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    
  }
  .closebtn:hover {
    color: black;
  }
  
.goback-btn {
    color:#323929;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 1000;
    background-color: #d7d8d65c;
    border-radius: 10px;
    
  }

  .button-section{
    text-align: center;
    justify-content: center;

  }

  #continue, #add-more{
    margin-right: 20px;

  }

  h2{
    margin: 20px 0;
  }

  #instruction{
    margin-bottom: 10px;
  }

  #textareas-container{
    margin-top: 20px;
  }

  #add-more{
    border:none;
    width:15%;
    height:20px;
    color:#FCFEF9;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #5A713D;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .sessions{
    margin-top:20px ;
  }

  .session{
    display: flex;
    margin-left: 30px;
  }

  .session label{
    height:40px;
    padding: 3px 0px 0px 30px;
    line-height: 2em; 
    border-style: none;
    width: 80%;
    margin: 10px 0px 20px 0px;
    background-color: rgba(169, 172, 172, 0.251);
    box-shadow: 0 4px 4px 0 rgba(255, 252, 252, 0.2);
   
    
  }

  .session label a{
    text-decoration: none;
    color: black;
  }

  .icon{
    text-align: center;
    padding: 11px;
    border: #323929;
    cursor: pointer;
    background-color: #b8bbb3a4;
    margin: 10px 0px 30px 0px;
    color: #ee6c41;
  }

  .save{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .save-btn{
    background-color:#5A713D;
    width: 50%;
    height: 50px;
    color:whitesmoke;
    margin:10px 0px 20px 0px;
    border-radius: 10px;
    align-content:center;
    text-align: center;
    cursor: pointer;
  }