.begin{
    width: 98%;
    height: 79vh;
    margin: 0.5rem 1rem 1rem 0.8rem;
    
  }

  h1{
    color:black;
  }

  .container{
    padding:40px 0px 0px 60px;
    
    
  }

  .details-container{
    background-color: rgba(140, 138, 138, 0.498);
    width: 60%;
    padding: 35px;
    border-radius: 10px;
  }


  .profile
  {
    margin-top: 20px;
    display:flex;
    text-align: center;
    align-items: center;
  }

  .profile .text{
    margin-left: 10px;
    text-align: left;
    width: 50%;
    
  }

  .rate{
    margin-left: 10px;
    text-align: left;
    margin: 20px 0px 0px 0px ;
    background-color: rgba(255, 255, 255, 0.494);
    padding: 25px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .begin_button{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .btn{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .main .view-wrap {
    height: auto;
    width: 98%;
    background-color: rgba(239, 239, 239, 0.716);
    padding: 1%;
  
  }

  .main .view-wrap .view{
    display:block;
    height: auto;
    background-color: white;
    padding: 2% 5% 5% 5%;
    box-shadow: 0 0 5px grey;

  }
  
  .view h1{
    margin: 20px 0px;
 }

.main .view-wrap .view .btn_section {
  display: flex;
  height: 40px;
  box-shadow:solid #FCFEF9;
  width: 100%;
  border-bottom: 2px solid  rgba(68, 71, 71, 0.339);
}

.main .view-wrap .view .btn_section button{
  color: rgb(68, 71, 71);
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0.4%;
  background-color:white;
  width: 100%;
  height: 100%;
  
  
}

.main .view-wrap .view .btn_section button.active{
  font-weight: 1000;
  color: #43562B;
  border-bottom: 2px solid #43562B;
}

.about-div{
  display: block;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

.about-div p{
  text-align: justify;
}

.about-div h1{
  color: #43562B;
}

.instructor-div{
  display: none;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
}

.instructor-div p{
  color: #43562B;
}

.syllabus-div{
  display: none;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
}

.syllabus-div h1{
  color: #43562B;
}

.syllabus-div .duration{
  background-color:#43562b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.syllabus-div h2{
  color: #43562B;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.syllabus-div .sessions_div{
  background-color: white;
  padding-top: 20px;
  margin-top: 10px;
}

.review-div{
  display: none;
  background-color: rgba(239, 239, 239,0.509);
  padding: 30px;
}


.img_container{
  width: 30%;
  background-color: white;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.instructor_text{
  width: 50%;
  text-align: left;
  background-color: white;
  height: 200px;
  margin-left: 10px;
  padding: 40px;
}

.instructor_text .icon{
  font-size: 14px;
  color: black;
}

.session_details{
   margin-bottom: 20px;
   margin-left: 50px;
}

.session_topic{
  display: flex;
}

.session_ID{
  margin: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session_title h3{
  margin-bottom: 10px;
}

.session_title{
  margin-left: 30px;
  background-color: #eef9e060;
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.quiz{
  margin-top: 10px;
}

.session_description{
  font-size: 13px;
  color: rgb(46, 45, 45);
}

.review{
  background-color: white;
}

.review_content{
  display: flex;
 
  padding: 20px;
}

.review_details{
  margin-left: 20px;

}

.user_name{
  font-size: 11px;
  color: #43562B;
  text-align: right;
  margin-top: 10px;
}