.begin{
    width: 98%;
    height: 79vh;
    margin: 0.5rem 1rem 1rem 0.8rem;
    
  }

  h1{
    color:black;
  }

  .container{
    padding:70px 0px 0px 60px;
    
    
    
  }


  .profile
  {
    margin-top: 50px;
    display:flex;
    text-align: center;
    align-items: center;
  }

  .profile .text{
    margin-left: 10px;
    text-align: center;
    
  }

  .begin_button{
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .btn{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .main .view-wrap {
    height: auto;
    width: 98%;
    background-color: rgba(239, 239, 239, 0.716);
    padding: 1%;
  
  }

  .main .view-wrap .view{
    display:block;
    height: auto;
    background-color: white;
    padding: 2% 5% 5% 5%;
  }
  
  .view h1{
    margin: 20px 0px;
 }

.main .view-wrap .view .btn_section {
  display: flex;
  height: 40px;
  box-shadow:solid #FCFEF9;
  width: 100%;
  border-bottom: 2px solid  rgba(68, 71, 71, 0.339);
}

.main .view-wrap .view .btn_section button{
  color: rgb(68, 71, 71);
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0.4%;
  background-color:white;
  width: 100%;
  height: 100%;
  
  
}

.main .view-wrap .view .btn_section button.active{
  font-weight: 1000;
  color: #43562B;
  border-bottom: 2px solid #43562B;
}

.about-div{
  display: block;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

.instructor-div{
  display: none;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
}

.syllabus-div{
  display: none;
  background-color: rgba(239, 239, 239, 0.509);
  padding: 30px;
}

.review-div{
  display: none;
  background-color: rgba(239, 239, 239,0.509);
  padding: 30px;
}