    /* Style for notification rows */
    
    .notification-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #d1d6cf81;
        margin-left: 100px;
        margin-right: 100px;
        height: 150px;
        width: auto;
        
      }
      
      /* Style for notification text */
      .notification-text {
        flex: 1;
      }
      
      /* Style for accept and reject buttons */
      input.notification-button {
        padding: 5px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
       
      }
      
      /* Style for accept button */
      .accept {
        background-color: #33ca93;
      }
      
      /* Style for reject button */
      .reject {
        background-color: #e8483c;
      }